.dialogue{
	position: absolute;
	top: 10%;
	left: 10%;
	min-height: 32rem;
	width: 80%;
	z-index: 5000;
	background: white;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.18);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.18);
	border: 1px solid #bbb;
	border-radius: 2px;
	overflow: hidden;
}

.dialogue.active{
	z-index: 505;
	background: white;
	-webkit-box-shadow: 0 0 23px 0 rgba(0,0,0,.38);
	box-shadow: 0 0 23px 0 rgba(0,0,0,.38);
}

.dialogue.minimized{
	overflow: hidden !important;
}

.dialogue > .titlebar:active{
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}


.dialogue > .titlebar{
	height: 8rem;
	line-height: 8rem;
	text-align: left;
	padding-left: 3rem;
	width: 100%;
	background: rgba(0,0,0,.1);
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	border-bottom: 1px solid #bbb;
}

.dialogue > .contentWrap{
	height: 100%;
	text-align: left;
	padding:6rem;
	width: 100%;
	height: calc(100% - 8rem);
	overflow: auto;
}
.dialogue > .close{
	position: absolute;
	top: 2rem;
	right: 2rem;
	height: 4rem;
	width: 4rem;
	border-radius: 3rem;
	background: #e74c3c;
	cursor: pointer;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.dialogue > .close:hover{
	-webkit-box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.1);
	background: #f55848;
}

.dialogue > .close:active{
	-webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.1);
	background: #d34334;
}

.dialogue h1 {
	font-size: 8rem;
	line-height: 17rem;
	font-weight: 100;
	border-bottom: 1px solid #ddd;
	margin: 0rem;
	margin-bottom: 4rem;
}

.dialogue h2{
	font-size: 5rem;
	line-height: 12rem;
	font-weight: 100;
	border-bottom: none;
	color: black;
	margin: 0rem;
}
/*depreciated est specific classes*/
.est-window {
	position: absolute;
	top: 5%;
	left: 5%;
	height: 90%;
	width: 90%;
	z-index: 500;
	background: white;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.18);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.18);
	border: 1px solid #bbb;
	border-radius: 2px;
	overflow: hidden;
}

.est-window.active {
	z-index: 505;
	background: white;
	-webkit-box-shadow: 0 0 23px 0 rgba(0,0,0,.38);
	box-shadow: 0 0 23px 0 rgba(0,0,0,.38);
}

.est-window.minimized{
	/*height: 32px ;
	width: 196px ;*/
	overflow: hidden !important;
}

.est-window-contents{
	height: 100%;
	text-align: left;
	padding:6rem;
	width: 100%;
	height: calc(100% - 8rem);
	overflow: auto;
}

.est-window-titlebar{
	height: 8rem;
	line-height: 8rem;
	text-align: left;
	padding-left: 3rem;
	width: 100%;
	background: rgba(0,0,0,.1);
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	border-bottom: 1px solid #bbb;
}

.est-window-titlebar:active{
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

.est-window-close{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 8rem;
	width: 8rem;
	cursor: pointer;
}
.est-window-minimize{
	position: absolute;
	top: 0px;
	right: 8rem;
	height: 8rem;
	width: 8rem;
	cursor: pointer;
}
.est-window-close > i,
.est-window-minimize > i{
	line-height: 8rem;
	width: 8rem;
	height: 8rem;
	text-align: center;
}
.est-window-close > i:before,
.est-window-minimize > i:before{
	line-height: 8rem;
	text-align: center;
}

.est-window .ui-icon{
	background: none;
}

.est-window h1{
	font-size: 8rem;
	line-height: 8rem;
	font-weight: 100;
	border-bottom: 1px solid #ddd;
	color: black;
}
.est-window h2{
	font-size: 5rem;
	line-height: 5rem;
	font-weight: 100;
	border-bottom: none;
	color: black;
}

.est-window-dock{
	position: relative;
}
.est-window-dock > .est-window.minimized{
	display: block !important;
	float: none !important;
	position: relative !important;
	height: 32px !important;
	width: 100% !important;
	overflow: hidden !important;
	top: 0px !important;
	left: 0px !important;
	margin-bottom: 1rem;
	-webkit-box-shadow: 0 0 23px 0 rgba(0,0,0,0);
	box-shadow: 0 0 23px 0 rgba(0,0,0,0);
}