/*

	This stylesheet will be replaced soon
	
*/

/* set display to none for Roman's presentation */
.est-branding{
	
}

#est_tabs, #est_bottom_line{
	border-top: 0px;
}

#est_bottom_line{overflow: visible;}
#est_tabs{
	border-right: 0px;
}

*[class*='est-'], *[class*='est-'] * {
	/*font-size: 3rem;*/
	box-sizing: border-box;
	outline: none !important;
}



.orange-spacer{
	-moz-transform: scale(1) rotate(180deg);
	-webkit-transform: scale(1) rotate(180deg);
	-o-transform: scale(1) rotate(180deg);
	-ms-transform: scale(1) rotate(180deg);
	transform: scale(1) rotate(180deg);
	clear: both;
	height: 2px;
	background: rgb(255,210,46); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,210,46,1) 0%, rgba(255,191,40,1) 59%, rgba(255,92,39,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,210,46,1)), color-stop(59%,rgba(255,191,40,1)), color-stop(100%,rgba(255,92,39,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,210,46,1) 0%,rgba(255,191,40,1) 59%,rgba(255,92,39,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,210,46,1) 0%,rgba(255,191,40,1) 59%,rgba(255,92,39,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,210,46,1) 0%,rgba(255,191,40,1) 59%,rgba(255,92,39,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,210,46,1) 0%,rgba(255,191,40,1) 59%,rgba(255,92,39,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd22e', endColorstr='#ff5c27',GradientType=1 ); /* IE6-9 */
}

.est-spacer-1{clear: both; height: 1rem;}
.est-spacer-2{clear: both; height: 2rem;}
.est-spacer-3{clear: both; height: 3rem;}
.est-spacer-4{clear: both; height: 4rem;}
.est-spacer-5{clear: both; height: 5rem;}
.est-spacer-6{clear: both; height: 6rem;}

.est-wrap{
	overflow: hidden;
	height: calc(100% - 16.5rem);
	font-family: "Open Sans", Arail, Helvetica;
}

/*.est-wrap select{
	margin: 8px 0;
	border: 1px solid #ddd;
	padding: 4px 5px;
	border-radius: 4px;
	height: 29px;
}
*/
.est-component-wrap{
	border: 3rem solid transparent;
	position: relative;
}

.est-charging-rules-placeholder{
	text-align:center;
	line-height: 28rem;
	font-size: 8rem;
	background: rgb(150, 150, 150);
	color: rgba(255,255,255,.5);
	border-radius: 1rem;
}

.est-chart-wrap{
	height: 100rem;
}

.est-chart-placeholder,
.est-chart-placeholder i{
	color: white;
	line-height: 100rem;
	text-align: center;
	font-size: 20rem;
	opacity: .5;
}

#adjusted_demand_swatch{
	background: #00d4ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #00d4ff 0%, #0097ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00d4ff), color-stop(100%,#0097ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00d4ff 0%,#0097ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00d4ff 0%,#0097ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00d4ff 0%,#0097ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00d4ff 0%,#0097ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4ff', endColorstr='#0097ff',GradientType=0 ); /* IE6-9 */
}


#output_container{
	height: calc(100% - 3rem);
/*	background: #fafafa;
	border-radius: 4px;
	height: 100%;
	overflow-x: visible;
	overflow-y: visible;
	border: 1px solid #dddddd;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.14);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.14);*/
}

#output_container > div{
	overflow-x: hidden;
	overflow-y: auto;
}

.est-tab-wrap{
	clear: both;
	position: relative;
	display: block;
	float: left;
	/*margin: 3rem;*/
	margin-top: 0px;
	-webkit-transition: width .25s ease-out;
	-moz-transition: width .25s ease-out;
	-ms-transition: width .25s ease-out;
	-o-transition: width .25s ease-out;
	transition: width .25s ease-out;
	/*width: calc(80% - 3rem);*/
}

.ui-datepicker{
	font-size: 3.5rem;
}

.est-bottom-line-wrap{
	/* background: #fafafa; */
	/*margin: 3rem;*/
	margin-top: 0px;
	margin-left: 0px;
	/*border-radius: 4px;*/
	
	/* -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.14); */
	/* box-shadow: 0 0 5px 0 rgba(0,0,0,.14); */
	/*width: calc(20% - 6rem);*/
	float: left;
	padding: 0rem;
	/*overflow: hidden;*/
	text-align: center;
}


.est-tab-wrap:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.est-tab-list{
	border-radius: 4px 0px 0px 4px;
	list-style: none;
	float: left;
	width: 16rem;
	margin: 0rem;
	padding: 0rem;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	border-top: 1px solid #CDCDCD;
	-webkit-box-shadow: 0px 0 5px 0 rgba(0,0,0,.18);
	box-shadow: 0px 0 5px 0 rgba(0,0,0,.18);
	clip: rect(-3px, 64px, 324px, -4px); /* clip box shadow. So ghetto.*/
}

.est-tab-list > li,
.est-tab-list > li *{
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.est-tab-list > li{
	height: 16rem;
	line-height: 16rem;
	width: 16rem;
	margin: 0rem;
	text-align: right;
	background: white;
	cursor: pointer;
	text-align: center;
	color: rgb(60,60,60);
	border-left: 1px solid #CDCDCD;
	border-top: 0px solid #fafafa;
	padding-top:1px;
	border-bottom: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	list-style: none;
}

.est-tab-list > li:hover{
	height: 16rem;
	line-height: 16rem;
	width: 16rem;
	margin: 0rem;
	text-align: right;
	background: white;
	cursor: pointer;
	text-align: center;
	color: rgb(60,60,60);
	border-left: 1px solid #CDCDCD;
	border-top: 0px solid #fafafa;
	border-bottom: 1px solid #CDCDCD;
	border-right: 1px solid #ddd;
}

.est-tab-list > li:first-child{
	border-top: 0px solid #fafafa;
}

.est-tab-list > li.active{
	background: #fafafa;
	border-left: 1px solid #ddd;
	border-top: 1px solid #fafafa;
	border-right: 1px solid #fafafa;
}
.est-tab-list > li:first-child.active{
	border-top: 0px solid #ddd;
}

.est-tab-list > li:first-child{border-radius: 4px 0px 0px 0px;}

.est-tab-list > li:last-child{border-radius: 0px 0px 0px 4px;}

.est-tab-list > li i{
	display: inline-block;
	width: 100%;
	font-size: 5rem;
	margin-bottom: 1rem;
	margin-top: 3.75rem;
}

.est-tab-list > li.active i,
.est-tab-list > li.active p
{
	color: #63C0FF;
}

.est-tab-list > li > p{
	display: inline-block;
	line-height: 100%;
	margin: 0rem 0rem 0rem 0rem;
	padding: 0rem;
	color: rgba(116, 116, 116, 0.95);
}



.est-tab{
	position: absolute;
	top: 0rem;
	left: calc(16rem - 1px);
	padding: 0rem 3rem;
	width: calc(100% - 16rem + 1px);
	opacity: 0;
	border-left: none;
	border-top: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	background: #fafafa;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	border-left: 1px solid #CDCDCD;
	z-index: 5;
	height: 100%;
}

.est-tab.active{
	opacity: 1;
	display: block;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.14);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.14);
	border-radius: 0px 4px 4px 4px;
}

.est-tab,
.est-tab-list > li{
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}


#analysis-tab ul,
#analysis-tab li{
	list-style: none;
	padding: 0rem;
	margin: 0rem;
}

.est-littlechart-wrap{
	padding: 0rem;
}

.primairy_output_wrap {
	margin: 0rem 0rem 1rem 0rem;
	padding: 3rem;
	text-align: left;
	/*background: rgba(95, 95, 95, 1);*/
	/*color: #fafafa;*/
	border-radius: 4px;
	/*-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);*/
}

.primairy_output{
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 6rem;
	line-height: 6rem;
}

.secondary_output{
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 4.5rem;
	line-height: 6rem;
	text-align: left;
}

/*Text elements*/
.est-wrap .label{
	line-height: 150%;
	letter-spacing: 1px;
}

.est-wrap .label.fatty{
	font-size: 4.25rem;
	/*line-height: 8.25rem;*/
	letter-spacing: 1px;
	/*font-weight: 100;*/
	margin-bottom: 4rem;
}
.est-wrap .label.little-fatty{
	line-height: 8.25rem;
	font-weight: 100;
}


/*.est-wrap h1{
	font-size: 5.5rem; 
	margin: 0rem; 
	font-family: "Open Sans"; 
	font-weight: 100; 
	color: rgb(150,150,150); 
	border-top: 1px solid #ddd;
}*/

/*.est-wrap h2{
	font-size: 4.5rem;
	font-family: "Open Sans";
	font-weight: 100;
	color: rgb(150,150,150);
	border-top: 1px solid #ddd;
}*/

.primairy_output_wrap h1, 
.primairy_output_wrap h2,
.primairy_output_wrap h3{
/*	font-size: 4rem;
	line-height: 5rem;
	font-family: "Open Sans";
	font-weight: 400;
	border-top: 0px solid rgb(184, 184, 184);*/
/*	padding-bottom: 3rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid #ddd;*/
}

.est-swatch{
	display: inline-block;
	margin: 0rem;
	height: 3rem;
	width: 3rem;
	border-radius: 2px;
	margin-right: 1.5rem;
	vertical-align: middle;
	
	-webkit-transition: all 400ms cubic-bezier(0.250, 0.250, 0.245, 1); /* older webkit */
	-webkit-transition: all 400ms cubic-bezier(0.250, 0.250, 0.245, 1.375); 
	-moz-transition: all 400ms cubic-bezier(0.250, 0.250, 0.245, 1.375); 
	-o-transition: all 400ms cubic-bezier(0.250, 0.250, 0.245, 1.375); 
	transition: all 400ms cubic-bezier(0.250, 0.250, 0.245, 1.375); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.245, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.245, 1.375); 
	-moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.245, 1.375); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.245, 1.375); 
	transition-timing-function: cubic-bezier(0.250, 0.250, 0.245, 1.375); /* custom */
}

.est-swatch:hover{
	border-radius: 0px;
	-moz-transform: scale(3);
	-webkit-transform: scale(3);
	-o-transform: scale(3);
	-ms-transform: scale(3);
	transform: scale(3);
}

.est-line-legend{
	position:absolute;
	top: 2rem;
	left: 2rem;
	background: rgba(255,255,255,.5);
	z-index: 500;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	padding: 3rem;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}
.est-line-legend > div{
	line-height: 4.5rem;
	letter-spacing: 1px;
}
.est-line-legend:hover{
	background: rgba(255,255,255,1);
}

.est-wrap h4{
	font-size: 3.5rem; 
	font-weight: 600;  
	margin: 4rem 0rem 2rem 0rem; 
	font-family: "Open Sans";
}

/* INPUTS N JUNK */
.est-calendar-wrap{
	height: auto;
	border-radius: 4px;
	border: 1px solid #ddd;
	overflow: hidden;
}

.est-calendar-month{
	font-size: 3rem;
	font-weight: 600;
	background: white;
	padding: 2rem;
	cursor: pointer;
	border-right: 1px solid #ddd;
}

.est-calendar-month:last-child{
	border-right: 0px solid #ddd;
}

.est-calendar-month:hover{
}

.est-calendar-month > div{
	font-size: 3.5rem;
	font-weight: 500;
	opacity: .83;
}

.est-wrap textarea{
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	min-height: 100px;
}

.est-slider{
	margin: 1rem 0rem 1rem 0rem;
}


.est-wrap textarea:focus,
.est-wrap input:focus{
/*	border-color: #0096ff;
	-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.08);
	box-shadow:inset 0 0 5px 0 rgba(0,0,0,.08);*/
}

.est-tariff-block{
	border: 0rem solid transparent;
}

/*.est-tariff-block input{
	margin: 0rem;
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius : 0px;
}*/
/*
.est-tariff-block label{
	margin-top: 2rem;
}*/

/*This plop is pure css sin.*/
/*.onpeak-toggle, .six-six-six{
	vertical-align: middle !important;
	display:inline-block !important;
	min-width: 0rem !important;
	max-width: 5rem !important;
	width: 3.5rem !important;
	height: 3.5rem !important;
	margin: .5rem !important;
	margin-top: 0rem !important;
}*/

.est-time{
	font-weight: 500;
	font-size: 9px;
	text-align: center;
}

.est-tariff-input-labels .est-time{
	-moz-transform: scale(1) rotate(-45deg) translateX(8px) translateY(-4px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(-45deg) translateX(8px) translateY(-4px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(-45deg) translateX(8px) translateY(-4px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(-45deg) translateX(8px) translateY(-4px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(-45deg) translateX(8px) translateY(-4px) skewX(0deg) skewY(0deg);
}

/*jquery UI unjank I seriously regret it every single time I use jquery ui.*/
.ui-widget-content{
	/*background: none; */
	border: none;
	margin: 0px;
	padding: 0px;
	color: rgb(40,40,40);
}

.ui-tabs .ui-tabs-panel{
	background: #eee;
	border-bottom: 1px solid rgba(150, 150, 150, .5);
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .25rem .5rem;
	text-decoration: none;
	font-size: 2.5rem;
}
.ui-tabs .ui-tabs-nav li{
	padding: 0rem;
}

.ui-tabs small{
	font-weight: 400;
	font-size: 2rem;
	margin-top: .5rem;
	display: block;
	font-family: verdana;
}



.small{
		font-weight: 100;
		font-size: 2.5rem;
	}

.ui-tabs .ui-tabs-nav li{
	font-family: "Open Sans";
	background: rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 -5px 5px -5px rgba(0,0,0,.15);
	box-shadow:inset 0 -5px 5px -5px rgba(0,0,0,.15);
	border: none;
	margin: 0px;
	padding: 1rem;
	font-weight: 700;
	min-height: 7.5rem;
}

.ui-tabs .ui-tabs-nav li > a{
	font-family: "Open Sans";
}

.ui-tabs .ui-tabs-nav li.ui-state-active{
	-webkit-box-shadow:inset 0 -5px 5px -5px rgba(0,0,0,0);
	box-shadow:inset 0 -5px 5px -5px rgba(0,0,0,0);
	background: #eee;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border: none;
	margin: 0px;
	padding: 1rem;
}

.ui-widget-header{
	background: none;
	background-image: none;
	border: none; 
	margin: 0px;
	padding: 1rem 0rem 0rem 0rem;
}

.est-tariff-labels > div{
	line-height: 5rem;
}

.tariff_price_row{
}

.tariff_price_row input{
	margin: 0rem;
	padding: 0rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
}

.est-clickme{
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	cursor: pointer;
		-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.est-clickme:hover{ 
	-webkit-box-shadow:inset 0 1px 5px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 1px 5px 0 rgba(0,0,0,.15);
	color: #000;
	background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.est-clickme:active{ 
	-webkit-box-shadow:inset 0 1px 5px 1px rgba(0,0,0,.18);
	box-shadow:inset 0 1px 5px 1px rgba(0,0,0,.18);
}

.est-backup-day{
	text-align: center;
	line-height: 5rem;
	margin: 1px;
	background: white;
	border: 1px solid #ddd;
	border-radius: 2px;
	width: calc(14.28571428571429% - 2px);
}

.est-backup-day.active{
	border-color: #2ecc71;
}

.output{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 4rem;
	color: rgb(116, 116, 116);
	font-weight: 100;
	font-style: italic;
	padding-left: 3rem;
}

.output.big{
	font-size: 6rem;
}

.est-tool-bar{
	padding: 1rem;
	background: #ddd;
	margin: 3rem;
	border-radius: 2px;
	border-bottom: 1px solid rgba(150, 150, 150, .5);
}

.est-tool-bar > div{
	text-align: center;
	padding: 1rem 2rem;
	display: inline-block;
	cursor : pointer;
	min-width : 12rem;
	border-radius: 2px;
}

.est-tool-bar > div.button:hover{
	background: rgb(255,255,255);
}

#initial_output_wrap{
	height: calc(100% - 3rem);
	overflow: auto;
}

@media(max-width: 1440px){
	.est-chart-wrap{
		height: 65rem;
	}
	
	.est-chart-wrap i, 
	.est-chart-placeholder{
		line-height: 65rem;
	}
		
	.primairy_output {
		font-family: "Open Sans";
		font-weight: 100;
		font-size: 3.75rem;
		line-height: 5.75rem;
	}
	
	.secondary_output {
		font-family: "Open Sans";
		font-weight: 100;
		font-size: 4rem;
		line-height: 5rem;
		text-align: right;
	}

	.est-littlechart-wrap {
		padding: 0rem;
	}
	
	.est-component-wrap {
		border: 1rem solid transparent;
	}
	
	.primairy_output_wrap {
		padding: 2rem;
	}
	
	.est-wrap h1 {
		font-size: 5rem;
	}
	
	.secondary_output {
		font-family: "Open Sans";
		font-weight: 100;
		font-size: 3.25rem;
		line-height: 5rem;
		text-align: right;
	}
	
	#peak_bar{
		/*height: 150px;
		width: 100% !important;*/
	}
}

@media(max-width: 960px){
	.est-wrap{
		overflow: auto;
	}
	.est-tab{
		height: auto;
		width: calc(100% - 16rem + -3px);
	}
}

.est-baseline-output{
	font-family: 'Open Sans',Arial,Helvetica,Sans;
	outline: 0;
	border: 1px solid rgba(218,218,218,0);
	margin: 10px 0;
	min-width: 75%;
	max-width: 100%;
	font-size: 12px;
	color: rgba(120,120,120,.9);
	-webkit-transition: border .2s linear;
	-moz-transition: border .2s linear;
	-ms-transition: border .2s linear;
	-o-transition: border .2s linear;
	transition: border .2s linear;
	width: 100%;
	padding: 6px 0px;
	display: block;
}

.est-datepicker{
	margin: 0rem 0rem;
}

.est-datepicker:first-child{
	margin-top: 3rem;
}

.est-half-hour-label-shift{

}

.ui-tabs-anchor > input{
	font-size: 3rem;
	margin: 0px;
	padding: 0rem 2rem;
	border: none;
	background: none;
	font-weight: 600;
	cursor: pointer;
}

.ui-tabs-anchor > input:focus{
	background: rgba(255,255,255,.2);
	border:none;
}

.est-wrap .ui-datepicker-today > a {
	border: 1px solid #dddddd;
	background: #eeeeee url("images/ui-bg_flat_100_eeeeee_40x100.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #454545;
}

.ui-datepicker-inline .ui-state-active{
	border: 1px solid #5ebdff !important;
}

.ui-datepicker-inline{
	background: white !important;
	border: 1px solid #ddd !important;
	padding: 2rem !important;
	display: inline-block !important;
}

.est-radio-group{
	border: 1px solid #ddd; 
	padding: 2rem; 
	border-radius: 2px; 
	background: white;
}

.est-radio-group:hover{
	border: 1px solid #ddd; 
	padding: 2rem; 
	border-radius: 2px; 
	background: white;
}

.est-tick-input-wrap{
	position: relative;
	margin: calc(3rem + 3px) 0;
}

.est-tick-left, .est-tick-right{
	position: absolute;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	text-align: center;
	vertical-align: middle;
	top: calc(50% - 1rem);
	cursor: pointer;
	color: rgba(0,0,0,.5);
}

.est-tick-left:hover, .est-tick-right:hover{color: rgba(0,0,0,1);}
.est-tick-left{left: 2rem;}
.est-tick-right{right: 2rem;}

.est-tick-input-wrap > input{
	margin: 0px 0;
	text-align: center;
}

/* MODAL ----------------------------------------------- */
.est-modal-backdrop{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0rem;
	left: 0rem;
	z-index: 450;
	opacity: 0;
}
.est-modal-wrap{
	height: calc(100% - 20rem);
	width: calc(100% - 20rem);
	position: fixed;
	top: 10rem;
	left: 10rem;
	z-index: 500;
	background: white;
	opacity: 0;
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(20px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(20px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(20px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(20px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(0deg) translateX(0px) translateY(20px) skewX(0deg) skewY(0deg);
}

.est-modal-wrap.active{
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
 
.est-window {
	position: absolute;
	top: 5%;
	left: 5%;
	height: 90%;
	width: 90%;
	z-index: 500;
	background: white;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.18);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.18);
	border: 1px solid #bbb;
	border-radius: 2px;
	overflow: hidden;

}

.est-window.active {
	z-index: 505;
	background: white;
	-webkit-box-shadow: 0 0 23px 0 rgba(0,0,0,.38);
	box-shadow: 0 0 23px 0 rgba(0,0,0,.38);
}

.est-window.minimized{
	/*height: 32px ;
	width: 196px ;*/
	overflow: hidden !important;
}

.est-window-contents{
	height: 100%;
	text-align: left;
	padding:6rem;
	width: 100%;
	height: calc(100% - 8rem);
	overflow: auto;
}

.est-window-titlebar{
	height: 8rem;
	line-height: 8rem;
	text-align: left;
	padding-left: 3rem;
	width: 100%;
	background: rgba(0,0,0,.1);
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	border-bottom: 1px solid #bbb;
}

.est-window-titlebar:active{
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

.est-window-close{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 8rem;
	width: 8rem;
	cursor: pointer;
}
.est-window-minimize{
	position: absolute;
	top: 0px;
	right: 8rem;
	height: 8rem;
	width: 8rem;
	cursor: pointer;
}
.est-window-close > i,
.est-window-minimize > i{
	line-height: 8rem;
	width: 8rem;
	height: 8rem;
	text-align: center;
}
.est-window-close > i:before,
.est-window-minimize > i:before{
	line-height: 8rem;
	text-align: center;
}

.est-window .ui-icon{
	background: none;
}

.est-window h1{
	font-size: 8rem;
	line-height: 8rem;
	font-weight: 100;
	border-bottom: 1px solid #ddd;
	color: black;
}
.est-window h2{
	font-size: 5rem;
	line-height: 5rem;
	font-weight: 100;
	border-bottom: none;
	color: black;
}

.est-window-dock{
	background: rgba(0,0,0,.1) !important;
	border-radius: 4px;
	position: relative;
	height: 100px;
}
.est-window-dock > .est-window.minimized{
	display: block !important;
	float: none !important;
	position: relative !important;
	height: 32px !important;
	width: 100% !important;
	overflow: hidden !important;
	top: 0px !important;
	left: 0px !important;
	margin-bottom: 1rem;
	-webkit-box-shadow: 0 0 23px 0 rgba(0,0,0,0);
	box-shadow: 0 0 23px 0 rgba(0,0,0,0);
}

.est-cashflow-table{}
.est-cashflow-table > .row:nth-child(even){
	background: rgba(0,0,0,.1);
}

.est-tool-bar > div > input {
margin: 0rem;
}

hr{
	background: #ddd;
	height: 1px;
	margin: 0rem;
	clear: both;
	border: none;
	display: block;
}


/* Cash flow Datatable for EST*/
.cashflow-table{
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}
.cashflow-table > div{
	padding: .5rem;
	border-bottom:1px solid #ddd;
}

.cashflow-table > div:hover:not(:first-child),
.cashflow-table > div.active:not(:first-child)
{
	color: #63C0FF;
	background: rgb(255, 255, 255);
	cursor: pointer;
}
.cashflow-table > div:nth-child(even){
	background: #f5f5f5;
}
.cashflow-table > div:nth-child(odd){
	background: #fafafa;
}
.cashflow-table > div:first-child{
	font-weight: 400;
}
.cashflow-table > div:last-child{
	border-bottom: 0;
}


/* switch groups */
.switch-group > div{
	background: #ffffff;
	-webkit-box-shadow:inset 0 -2px 1px 0 rgba(0,0,0,.06);
	box-shadow:inset 0 -2px 1px 0 rgba(0,0,0,.06);
	-webkit-transition: all .15s ease-in-out;
-moz-transition: all .15s ease-in-out;
-ms-transition: all .15s ease-in-out;
-o-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
}
.switch-group > div:hover{
	background: #ffffff;
}
.switch-group > div:active{
	background: #ffffff;
	-webkit-box-shadow:inset 0 -2px 2px 0 rgba(0,0,0,.05);
	box-shadow:inset 0 -1px 2px 0 rgba(0,0,0,.05);
}
.switch-group > div.active{
	background: #f5f5f5;
	cursor: pointer;
	-webkit-box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.05);
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.05);
}

.peak_indicator.red{background: red}
.peak_indicator.grey{background: #eee}
.peak_indicator{
	height: 16px;
}