h3 Pending Account Requests
hr.marg-n.marg-s
#table.data-table
script.
	var table = new DataTable({
		container : $('#table')[0],
		dataSource : '/admin/account_applications',
		socket : socket,
		row : function(){
			var row = ele('div.row.flex.middle');
			return row;
		},
		column : {
			id : function(data){

				var reject = ele('a.red.marg-e:reject');
				var confirm = ele('a.green:confirm');
				var wrap = ele('div');

				wrap.appendChild(reject);
				wrap.appendChild(confirm);

				reject.onclick = function(){
					socket.post('/admin/account_applications/reject/'+data.id, {}, function(){
						TweenLite.to($(wrap).parent().parent(), .2, {
							opacity: 0,
							height: '0px',
							padding: '0px',
							onComplete: function(){
								$(wrap).parent().parent().remove();
								table.fetch(function(){
									table.render();
								})
							}
						})
					})
				}

				confirm.onclick = function(){
					socket.post('/admin/account_applications/confirm/'+data.id, {}, function(){
						TweenLite.to($(wrap).parent().parent(), .2, {
							opacity: 0,
							height: '0px',
							padding: '0px',
							onComplete: function(){
								$(wrap).parent().parent().remove();
								table.fetch(function(){
									table.render();
								})
							}
						})
					})
				}

				return wrap;
			}
		}
	});

	$(document).ready(function(){
		table.fetch(function(){
			table.render();
		})
	})