style.
	.list ul{
		margin-left: 3rem;
	}
	#installations{
		border: 1px solid #ddd;
		border-radius : 1rem;
	}
	.list li {
		line-height: 7rem;
		position:relative;
		list-style: none;
		cursor: pointer;
		
		-webkit-transition: height 200ms ease-in;
		-moz-transition: height 200ms ease-in;
		-ms-transition: height 200ms ease-in;
		-o-transition: height 200ms ease-in;
		transition: height 200ms ease-in;
	}
	.list span{
		border-bottom: 1px solid #ddd;
	}
	.list li:last-child span{
		border-bottom: none;
	}

	.list li > span:hover{
		background: #dadada;
	}
	.list li > span > i{
		font-size: 3.5rem;
		background-size: cover;
	}
	.list li > span .menu{
		position: absolute;
		top: 0rem;
		right: 0rem;
	}
	.list li:nth-child(odd){
		background: #f5f5f5;
	}
	.list li:nth-child(even){
		background: #fafafa;
	}
	.list li ul{
		margin: 0px;
		padding-left: 8rem;
		border-bottom: 1px solid #ddd;
	}
	.list li ul li{
		border-left: 1px solid #ddd;
	}
	.list li .uninstall_control_unit{
		opacity: 0;
		position: absolute;
		right: 3rem;
		top : calc(50% - 10px);
	}
	.list li:hover .uninstall_control_unit{
		opacity: 1;
	}

.row.middle.marg-s
	.col-3-4
		h3 Installed Devices
	.col-1-4.flex.right.middle
		i.icon-plus-6.grey.hover-blue.button#add_installation

hr.marg-n

#installation_types.marg-s
	h4.marg-n.marg-s Add Device
	label Serial Number
	input#new_board_serial_number(name='board_serial_number')
	.flex.left.middle
		button#new_board_serial_number_button.grey Install
		.marg-w#new_board_serial_number_feedback
	hr.marg-n
ul.list#installations.marg-n
	li
		i.icon-warning
		span No Installations!

script.
	
	/*control units -> icon*/
	var icons_control_units_types = {
		'sgb' : '.icon-powerz',
		'sgb3p' : '.icon-powerz',
		'gridz' : '.icon-gridz',
		'bms' : '.icon-battery',
		'energizr' : '.icon-energizr',
		'inverter' : '.icon-flash-1'
	}

	var icons_installation_node_types = {
		'zefr' : '.icon-zefr',
		'gyezr' : '.icon-gyezr',
		'luminairz' : '.icon-luminairz',
		'energizr' : '.icon-energizr',
		'sgb3p' : '.icon-powerz'
	}

	/*
		This isn't viable.
		most of these can exist in a gridz project
	*/
	var urls_control_units_types = {
		'sgb' : '/powerz/',
		'sgb3p' : '/powerz/',
		'gridz' : '/gridz/',
		'bms' : '/gridz/',
		'energizr' : '/energizr/',
		'inverter' : '/gridz/'
	}

	function build_control_units_list(control_units){
		var elements = [];


		/*Installation node types*/
		for(var i = 0; i < control_units.length; i++){
			(function(i){
				var item = control_units[i];
				var element = {};


				/*
					Bail Out!
					These control units are components in a gridz system
				*/
				if(
					item.control_units_type === 'bms'
					|| item.control_units_type === 'inverter'
				){
					return
				}

				/*
					Sanity check to determine what kind of list item to generate
				*/
				var context;
				var icon;
				var menu;

				if(item.control_units_type){
					context = 'control_unit';
					icon = icons_control_units_types[item.control_units_type];
					menu = 'control_unit';
				}

				var _element = 'li#'+context+'_'+item.id;
				var link = ele('a:'+item.title);
				link.href = urls_control_units_types[item.control_units_type]+item.board_serial_number;

				var remove = ele('i.icon-trash-2.button.grey.hover-red.uninstall_control_unit')



				remove.onclick = function(){
					socket.post('/uninstall/control_unit', {board_serial_number : item.board_serial_number}, function(d){
						console.log(d)
					})
				}

				element[_element] = {
					'span.black.flex.middle.hover-blue.block':
					[
						'i'+icon+'.marg-e.marg-w',
						link,
						remove
					]
				};

				elements.push(element);
			})(i)
		}

		return elements;
	}

	function build_projects_list(projects){
		var node_list = {};

		for(var i = 0; i < projects.length; i++){

			var project = projects[i];
			var link = ele('a:'+project.title);
			link.href = '/gridz/'+project.slug;
			node_list['li#'+project.slug] = {
				'span.black.flex.middle.hover-blue.block':
				[
					'i.icon-gridz.marg-e.marg-w',
					link
				]
			};


			if(project.control_units.length > 0){
				project.control_units = project.control_units.split(','); // csv to array
				node_list['li#'+project.slug]['ul'] = [];
				for(var c = 0; c < project.control_units.length; c++){
				var link = ele('a:'+project.control_units[c]);
				link.href =  '/gridz/'+project.slug;
				var remove = ele('i.icon-trash.red');

				node_list['li#'+project.slug]['ul'].push({
					'li': 
						{
							'span.black.flex.middle': [
								'i.icon-flash-1.marg-w.marg-e',
								link,
								''
							]
						}
				});
				}
			}

		}

		return ele(node_list)
	}

	function render_tree(projects, control_units){

		$('#installations')[0].innerHTML = "";
		$('#installations')[0].appendChild(ele(build_projects_list(projects)));
		$('#installations')[0].appendChild(ele(build_control_units_list(control_units)));

		$('#installations li').unbind('click').click(function(e) {
			$(this).children('ul').slideToggle();
			e.stopPropagation();
		});
	}

	var hierarchy;
	var duration = 300;
	$(document).ready(function(){

		$('#new_board_serial_number').keyup(function(){
			socket.get('/control_units/'+$(this).val(), function(res){

				if(!res){
					$("#new_board_serial_number_button").removeClass('blue')
					$("#new_board_serial_number_button").addClass('grey')
					$("#new_board_serial_number_feedback").html('Invalid serial number.')
					
					/*
						Disable teh button
					*/
					$("#new_board_serial_number_button")[0].onclick = function(){return;}
				
				}else{

					res = JSON.parse(res);
					console.log(res)
					$("#new_board_serial_number_button").removeClass('grey')
					$("#new_board_serial_number_button").addClass('blue')
					$("#new_board_serial_number_feedback").html('<div class="pad logo-'+res.control_units_type+'"></div>Is a valid serial number!')
					
					/*
						enable teh button
					*/
					$("#new_board_serial_number_button")[0].onclick = function(){
						socket.post(
							'/install/control_unit', 
							{
								board_serial_number : $('#new_board_serial_number').val()
							}, 
							function(res){
								console.log(res)
							}
						)
					}
				}

			})
		})

		$('select').chosen({
			placeholder_text_single : "Chose a monitoring device"
		});
		
		/*
			animated menu for adding control_units
		*/
		$('#add_installation').click(function(){
			if($(this).hasClass('rotated')){
				$(this).removeClass('rotated red');
				$(this).addClass('grey hover-blue');
				TweenLite.to($(this), (duration * .001),{
					rotation : 0,
					y : 0,
					ease: Power1.easeIn
				})
			}else{
				$(this).addClass('rotated red');
				$(this).removeClass('hover-blue grey');
				TweenLite.to($(this), (duration * .001),{
					rotation : 45,
					y : (4 * 10),
					ease: Power1.easeIn
				})
			}
			$('#installation_types').slideToggle({duration: duration})
		})


		/*
			Init dat 'tree'
		*/
		socket.get('/control_units', function(control_units){
			socket.get('/gridz_projects', function(projects){

				control_units = JSON.parse(control_units);
				projects = JSON.parse(projects);

				if((projects.length || control_units.length) > 0){
					render_tree(projects, control_units);	
				}

				$('#installation_types').slideToggle({duration: 0})
				$('#installations li').children('ul').slideToggle({duration: 0});
				
			})
		})

	}) 