h3 Create User
hr.marg-n.marg-s
form#create_user_form(method='post' action='users')
	.row.flex
		.col-auto.marg-e
			label First Name
			input#firstname(name='firstname')
		.col-auto.marg-e
			label Middle Name
			input#middlename(name='middlename')
		.col-auto
			label Last Name
			input#lastname(name='lastname')
	.row.flex
		.col-auto.marg-e
			label Email
			input#email(name='email')
		.col-auto
			label Phone
			input#phone(name='phone')
	.row.flex
		.col-auto.marg-e
			label Address
			input#address(name='address')
		.col-auto.marg-e
			label City
			input#city(name='city')
		.col-auto.marg-e
			label State
			input#state(name='state')
		.col-auto
			label Zip
			input#zip(name='zip')
	.row.flex
		.col-auto.marg-e
			label User Name
			input#knickers.clone.grey(name='knickers')
		.col-auto
			label Password
			input#password(name='password')
	button#create_user_form_button.grey Create User
script.
	$(document).ready(function(){

		/*
			Generate an 8 character password
		*/
		$('[name="password"]').val((function(){
			var opts = ['J','L','M','g','y','u','r','z','n','d'];
			var pass = "";
			while(pass.length < 8){
				pass += opts[Math.round(Math.random() * (opts.length - 1))]
			}
			return pass
		}));


		/*
			Asusme they want to use their email as a login
			this will simply copy the value of 'email' to 'knickers'

			clicking the 'knickers' input will cancel this behavior
		*/
		$('#email').keyup(function(){
			if($('#knickers').hasClass('clone')){
				$('#knickers').val($(this).val())
			}
		});

		$('#knickers').click(function(){
			$(this).removeClass('clone grey');
		});

		$("#create_user_form input").keyup(function(){
			
			if(
				$('#email').val() !== ''
				&& $('#password').val().length >= 8
				&& $('#knickers').val() !== ''
			){
				$('#create_user_form_button').removeClass('grey');
				$('#create_user_form_button').addClass('green');
			}else {
				$('#create_user_form_button').removeClass('green');
				$('#create_user_form_button').addClass('grey');
			}

		})
	})