.row
	.col-1-2
		h3.left EST Projects
	.col-1-2.right
		i#spawn_project.icon-plus-6.grey.hover-green.button.marg-e
		i#delete_projects.icon-trash-2.grey.hover-red.button
hr.marg-n.marg-s
#projectsTable.data-table.left
#projectsTableNav.border.pill-box-h.center.marg-n
script(src='/javascripts/est/projectsTable.js')