.row
	.col-1-2
		h3 Rate Plans
	.col-1-2.right
		i#new_rate_plan.icon-plus-6.grey.hover-green.button.marg-e
		i#delete_rate_plans.icon-trash-2.grey.hover-red.button
hr.marg-n.marg-s
#rate_plan_browser.data-table
#rate_plan_browser_navigation.border.pill-box-h.marg-n.center
script(src='/javascripts/est/ratePlanTable.js')