#header.row.flex
		// - Always here
		a.measurz-logo(href='/')
		// - Nav items go here
		.nav.flex.right.middle.pad-e
			if user
				if user.isAdmin == true
					a.marg-e(href='/admin') admin
			a(href='/logout') logout