h3 Existing Users
hr.marg-s.marg-n
#users_table.data-table
#users_table_nav.pill-box-h.center.marg-n
script.
	$(document).ready(function(){
		users_table = new DataTable({
			container : $('#users_table')[0],
			navigationContainer:$('#users_table_nav')[0],
			filter : ['email', 'knickers','firstname', 'lastname', 'enabled'],
			paginate : 10,
			dataSource : '/admin/users',
			column : {
				enabled : function(record){
					var input = ele('input#user_'+record.id+'_enabled');
					input.type = 'checkbox';
					if(record.enabled === true){
						input.checked = true
					}
					input.onchange = function(){
						var enabled = (this.checked)? 'true' : 'false';
						socket.post('/admin/users/'+record.id, {enabled: enabled}, function(){
							users_table.fetch(function(){
								users_table.render();		
							})
						})
					}
					return input;
				},
				email : function(record){
					var input = ele('input#user_'+record.id+'_email.inline');
					input.value = record.email;
					input.onchange = function(){
						socket.post('/admin/users/'+record.id, {email: this.value}, function(){
							users_table.fetch(function(){
								users_table.render();		
							})
						})
					}
					return input;
				},
				knickers : function(record){
					var input = ele('input#user_'+record.id+'_knickers.inline');
					input.value = record.email;
					input.onchange = function(){
						socket.post('/admin/users/'+record.id, {knickers: this.value}, function(){
							users_table.fetch(function(){
								users_table.render();		
							})
						})
					}
					return input;
				},
				firstname : function(record){
					var input = ele('input#user_'+record.id+'_firstname.inline');
					input.value = record.email;
					input.onchange = function(){
						socket.post('/admin/users/'+record.id, {firstname: this.value}, function(){
							users_table.fetch(function(){
								users_table.render();		
							})
						})
					}
					return input;
				},
				lastname : function(record){
					var input = ele('input#user_'+record.id+'_lastname.inline');
					input.value = record.email;
					input.onchange = function(){
						socket.post('/admin/users/'+record.id, {lastname: this.value}, function(){
							users_table.fetch(function(){
								users_table.render();		
							})
						})
					}
					return input;
				}
			}
		});

		users_table.fetch(function(){
			users_table.render();		
		})
	})