#visualization{}

#io{
	margin: 0rem 3rem;
	min-height: 20rem;
}
#i{}
#o{
	background: #fafafa;
	border-radius: 4px;
	height: 100%;
	overflow-x: visible;
	overflow-y: visible;
	border: 1px solid #dddddd;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.14);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.14);
}

/* big chart container at the top of the view */
.chart-wrap{
	height: 100rem;
	background: rgb(150, 150, 150);
	border-radius: 4px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	overflow: hidden;
	margin: 3rem;
}

/* vertical tabs style @ vertical-tabs.css cause it's faaat*/