.chart-wrap {
	margin: 3rem;
	text-align: center;
}

.chart-headline {
	color: white;
	line-height: 100rem;
	text-align: center;
	font-size: 20rem;
	opacity: .5;
	position: relative;
	top: 20rem;
}
.icon-energizr-span {
	position: relative;
	top: -13px;
}
.icon-energizr {
	background: url("../images/icon-energizr.svg") no-repeat;
	height: 30px;
	width: 30px !important;
	position: relative;
	top: -4px;
}
.input-wrapper {
	:focus {
		border-color: #0096ff;
		webkit-box-shadow: inset 0 0 5px 0 rgba(0,0,0,.08);
		box-shadow: inset 0 0 5px 0 rgba(0,0,0,.08);
	}
}
sup {vertical-align:super;}
.tab-wrap {
	h3 {
		float: left;
	}
}
#tab1 {
	input {
		text-align: center;
	}
}

#compositebar {
	z-index: 100;
}

#export {
	p {
		display: inline-block;
		margin-left: 5px;
	}
	input {
		margin-left: 10px;
	}
}

.error-popup {
	position: relative;
	background: #d5d5d5;
	border: 1rem solid rgba(74,74,74,1); //rem change
	&:after, &:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(213, 213, 213, 0);
		border-top-color: rgba(74,74,74,1);
		border-width: 2rem; // rem change
		margin-left: -2rem;  // rem change
	}
	&:before {
		border-color: rgba(0, 0, 0, 0);
		border-top-color: rgba(74,74,74,1);
		border-width: 3.25rem; //rem change
		margin-left: -3.25rem; //rem change
	}
}
.error-input-border {border: red 1px solid;}
.error-input-border:focus {
	border: red 1px solid;
}
#o {
	overflow-y: scroll;
	overflow-x: hidden;
}

.icon-container,.icon-container2, .icon-container3 {
	&:hover {
		background: #0096ff;
		//color: #fff;
		&:active {
			background: #008bff;
		}
		cursor: pointer;
	}
	width: 23px;
	height: 23px;
	border-radius: 15px;
	position: relative;
	top: -1px;
	display: inline-block;
	background: #ddd;
}
.icon-container3 {
	//left:
	&:hover {
		&:active {
			background: #e09100;
		}
		background: #f9a100;
	}
	.icon-help-1 {
		position: relative;
		left: 3px;
		top: 6px;
	}
}
.addHelp {
	background: #f9a100;
}
.tab {
	position: relative;
}
.help {
	padding: 3rem;
	position: absolute;
	background: #ffc;
	z-index: 1000000000000000000;
	border-radius: 10px;
	border: 1px solid #ddd;
	line-height: 15px;
	box-shadow: 7px 7px 7px #999;
}
.hidden {
	display: none;
}
.config-tab-container {
	.help {
		left: 16%;
		top: 55px;
	}
}
.report-chart {
	.help {
		left: 23%;
		width: 400px;
		top: -35px;
	}
}
.bar-chart-container {
	.help {
		left: 7%;
		top: 57px;
		width: 220px;
	}
}
.calendar-container {
	.help {
		width: 195px;
		top: 29px;
		left: 40%;
	}
}
/*.monitor-headline {
	.help {
		width: 200px;
		top: 80px;
		left: 15%;
	}
}*/
#tab4 {
	.help {
		left: 15%;
		top: 60px;
	}
}
.help-container {
	.help {
		left: 30%;
		top: 100px;
	}
}
.help1 {
	left: 14px;
	top: 23px;
	width: 200px;
}
.help2 {
	left: 17px;
	top: 20px;
	width: 142px;
}
.help3 {
	left: 20px;
	top: 18px;
	width: 122px;
}
.browse-records {
	width: 155px;
	float:left;
}

.monitoring-tab {
	.monitor-headline {
		h3 {
			width: 90px;
			float: left;
		}
		.icon-container2 {
			left: 7px;
			&:hover {
				&:active {
					background: #d34334;
				}
				background: #f55848;
			}
			.icon-pause-outline {
				position: relative;
				top: 6px;
				left: 3px;
			}
		}
		.icon-container3 {
			left: 14px;
		}
		.fullView {
			position: relative;
			top: 6px;
			left: 3px;
		}
	}
	.monitor-headline2 {
		h3 {
			width: 165px;
			float: left;
		}
		.icon-container {
			position: relative;
			left: 10px;
			i {
				position: relative;
				top: 5px;
				left: 2px;
			}
			&:hover {
				background: #3fcf3f;
				&:active {
					background: #35ba35;
				}
			}
		}
	}
	.section-container {
		max-width: 237rem; // rem change
		//min-width: 500px;
		display: inline-block;
		float: left;
		.hidden {
			display: none;
		}
		.section {
			float: left;
			//width: 460px; //fixed width layout
			//width: auto;
			width: 48%; // responsive
			max-width: 115rem; // rem change
			min-width: 61.25rem; //rem change
			height: auto;
			padding: 2.5rem; //rem change
			margin: 0 4rem 4rem 0;
			box-shadow: inset 0px 0px 4px 2px #d7d7d7;
			-webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
			border-radius: 3px;
			background-color: #efefef;
			&:nth-child(2), &:nth-child(4) {
				margin-right: 3rem;
			}
			.section-dropdown {
				display: none;
			}
			.monitor-value {
				position: relative;
				top: 3rem; // rem change
				left: 4rem;  //rem change
			}
			.right-side-unit {
				position: relative;
				top: 0.5rem; //rem change
				left: 1rem;
			}
			.label-name {
				position: relative;
				top: 1.25rem; //rem change
			}
			.label {
				display: inline-block;
				position: relative;
				top: 8.75rem; //rem change
			}
			.unit-label {
				display: inline-block;
				position: relative;
				top: 8.75rem;//rem change
				left: 2.25rem; //rem change
			}
			.section-value-box {
				//width: 133px; // fixed layout
				width: 100%; // responsive
				//max-width: 133px; // responsive
				//min-width: 105px; // responsive
				height: 22.5rem; //rem change
				font-size: 5rem; //rem change
				border-radius: .75rem; //rem change
				-webkit-border-radius: .75rem; //rem change
				text-align: center;
				background-color: #fefefe;
				box-shadow: 0px 0px 4px 2px #dbdbdb;
				-webkit-shadow: 0px 0px 4px 2px #dbdbdb;
				line-height: 6rem; //rem change
				display: inline-block;
				float: left;
			}
			.section-graph-area {
				//width: 297px; // fixed layout
				//width: calc(~auto + 5px);  // relative layout
				width: 100%;
				height: 100%;
				
				float: right;
				height: 22.5rem; //rem change
				margin: 0;
				display: inline-block;
			}
			.section-description {
				clear: both;
				text-transform: uppercase;
				background-color: rgba(220, 220, 220, .3);
				border-radius: .75rem; //rem change
				margin-top: 2.5rem; //rem change
				padding-left: 2rem; //rem change
				border: 1px solid rgba(220, 220, 220, .5);
				height: 6rem; //rem change
			}
			.dropdown-details {
				clear: both;
				text-transform: uppercase;
				background-color: rgba(220, 220, 220, .3);
				border-radius: .75rem; //rem change
				margin-top: 1.75rem; //rem change
				padding-left: 2rem;//rem change
				border: 1px solid rgba(220, 220, 220, .5);
				height: 6rem; //rem change
				/*width: 250px;*/
				text-align: right;
				label {
					position: relative;
					top: 1.5rem;
					right: 2rem;
				}
			}
		}
	}
	.calendar-container {
		//width: 105rem; //rem change
		display: inline-block;
		float: left;
		#datepicker3 {
			display: inline-block;
		}
		#datepicker4 {
			display: inline-block;
		}
	}
}
.config-tab-container {
	.icon-container3 {
		left: 7px;
	}
}
.report-tab {
	.icon-container3 {
		left: 7px;
	}
}
.config-tabs {
	li {
		box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.15);
		background-color: #e7e7e7;
		border-right: 1px solid rgba(0,0,0,.15);
		display: inline-block;
		text-align: center;
		width: 34rem;
		padding: 2rem;
		border-top-left-radius:1.5rem; //rem
		border-top-right-radius:1.5rem;
		cursor: default;
	}
	.active-config-tab {
		background-color: #eee;
		box-shadow: none;
	}
}
.config-tab-body {
	background-color: #eee;
	display: none;
}
.active-tab-body {
	display: block;
}

.chart-wrap {
	position: relative;
}

#legend {
	position: absolute;
	left: 2rem;
	top: 2rem;
	width: 41rem;
	height: 35.5rem;
	border: 1px solid #ddd;
	background-color: rgba(255,255,255, .5);
	border-radius: 1rem;
	webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	padding: 3rem;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	z-index: 5000;
	font-size: 2rem;
	#legend-labels {
		padding-top: 1rem;
		label {
			text-shadow: none;
			font-size: 3rem;
			color: #000;
			position: relative;
			color: #323232;
			line-height: 4.5rem;
			letter-spacing: 1px;
			font-family: "Open Sans", Arail, Helvetica;
			text-align: left;
		}
		.swatch {
			position: relative;
			top: .6rem;
			height: 3.3rem;
			width: 3.3rem;
			border-radius: .5rem;
			padding-top: 1px;
		}
		#blue-swatch {
			background-color: rgba(0,150,255,.9);
		}
		#orange-swatch {
			background-color: rgb(249, 161, 0);
		}
		#green-swatch {
			background-color: rgb(37, 194, 37);	
		}
		#grey-swatch {
			background-color: rgba(140,140,140,.9);	
		}
	}
	&:hover {
		background-color: rgba(255,255,255, 1);
	}
	img {
		width: 34.5rem; //rem change
		height: auto;
	}
}

.battery-group {
	font-size: 4rem;
}

.merp {
    background-color:rgba(90, 90, 90, .4);
    min-width:16.5rem; //rem change
    max-width: 16.5rem; //rem change
    height: 21.5rem; //rem change
    line-height: 21.5rem; //rem change
    padding:2rem;
    border-radius:5px;
    font:bold 2.5rem/5rem Verdana; //rem change
    text-align:center;
    margin:0px 6px 6px 0px;
}

.mankee {
	background-color: rgba(90, 90, 90, .4);
	width: 22.5rem; //rem change
	display: inline-block;
	padding: 2rem;
	margin: 0 1.5rem 1.5rem 0;
	border-radius: 1.25rem;
	font-size: 3.5rem;
	text-align: center;
	div {
        font-weight:bold;    
    }
    label {
    	color: #000;
    	text-shadow: none;
    }
}

.info-container {
	width: 100%;
	background-color: #eee;
	border-radius: 1rem;
	box-shadow: inset 0px 0px 4px 2px #d7d7d7;
	-webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
	text-align: center;
	position: relative;
	padding-bottom: 3rem;
	margin-bottom: 5rem;
	.info-display {
		margin: auto;
		border-radius: 1rem;
		position: relative;
		background-color: #fff;
		box-shadow: inset 0px 0px 4px 2px #d7d7d7;
		-webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
	}
	.info-box-unit {
		position: absolute;
		top: 3rem;
	}
	label {
		padding: 2rem;
	}
	h3 {
		margin: 1rem 0 1rem 0;
		position: relative;
		right: 3rem;
	}
}
.top-battery-row {
	position: relative;
	left: 18rem; //rem change
}
.perc {
    /*box-shadow: 0px 0px 2px 2px rgba(110, 110, 110, .7);*/
    line-height:5rem !important; //rem change
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
    cursor:pointer;
    label {
    	color: #fff;
    	text-shadow: none;
    	font-size: 3.3rem;
    	position: relative;
    	top: 6rem;
    }
}
.perc_40 {
	background: -moz-linear-gradient(top, rgba(149, 149, 149 , .9) 0%, rgba(40,40,40,.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149, 149, 149 , .9)), color-stop(100%,rgba(40,40,40,.9)));
	background: -webkit-linear-gradient(top, rgba(149, 149, 149 , .9) 0%,rgba(40,40,40,.9) 100%);
	background: linear-gradient(to bottom, rgba(149, 149, 149 , .9) 0%,rgba(40,40,40,.9) 100%);
	background-opacity: .8;
	color: #fff;
}
.perc_60 {
	background-color: rgba(91,155,213, .9);
	background: -moz-linear-gradient(top, rgba(91,155,213, .9) 0%, rgba(121,179,211, .9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(91,155,213, .9)), color-stop(100%,rgba(121,179,211, .9)));
	background: -webkit-linear-gradient(top, rgba(91,155,213, .9) 0%,rgba(121,179,211, .9) 100%);
	background: linear-gradient(to bottom, rgba(91,155,213, .9) 0%,rgba(121,179,211, .9) 100%);
	color: #fff;
}
.perc_80 {
	background-color: rgba(249, 161, 0, .9);
	background: -moz-linear-gradient(top, rgba(255, 191, 12, .9) 0%, rgba(249, 161, 0, .9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 191, 12, .9)), color-stop(100%,rgba(249, 161, 0, .9)));
	background: -webkit-linear-gradient(top, rgba(249, 161, 0, .9) 0%, rgba(255, 191, 12, .9) 100%);
	background: linear-gradient(to bottom, rgba(255, 191, 12, .9) 0%, rgba(249, 161, 0, .9) 100%);
	color: #fff;
}
.perc_100 {
	background-color: rgba(37, 194, 37, .9);
	background: -moz-linear-gradient(top, rgba(37, 194, 37, .9) 0%, rgba(17, 144, 32, .9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37, 194, 37, .9)), color-stop(100%,rgba(17, 144, 32, .9)));
	background: -webkit-linear-gradient(top, rgba(37, 194, 37, .9) 0%,rgba(17, 144, 32, .9) 100%);
	background: linear-gradient(to bottom, rgba(37, 194, 37, .9) 0%,rgba(17, 144, 32, .9) 100%);
	color: #fff;
}
.perc_120 {
	background: -moz-linear-gradient(top, rgba(255, 51, 0 , .9) 0%, rgba(207, 53, 19 , .9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 51, 0 , .9)), color-stop(100%,rgba(207, 53, 19 , .9)));
	background: -webkit-linear-gradient(top, rgba(255, 51, 0 , .9) 0%,rgba(207, 53, 19 , .9) 100%);
	background: linear-gradient(to bottom, rgba(255, 51, 0 , .9) 0%,rgba(207, 53, 19 , .9) 100%);
	color: #fff;
}
.top-output-container {
	background-color: #eee;
	opacity: .9
}
.bar-chart-container {
	background-color: #e2e2e2;
	width: 62.5rem; //rem change
	margin: 0 auto;
	position: relative;
	//opacity: .85 !important;
	.red-bar {
		height: 0.5rem; //rem change
		background-color: red;
		width: 68.25rem; //rem change
		z-index: 3;
		position: relative;
		top: 34rem; //rem change
		opacity: .4;
	}
	.bar-chart {
		display: inline-block;
		position: relative;
		top: 2.5rem; // this looks bad in firefox //rem change
		z-index: 5;
		opacity: .8
	}
	.bar-chart-value {
		position: absolute;
		width: 25%;
		top: 65rem; //rem change
		padding: 2rem;
		color: #fff;
		text-shadow: 1px 1px #000;
		background-color: rgba(144, 144, 144, .5);
		z-index: 2;
		height: 6.5rem; //rem change
		text-align: center;
	}
	.label-container {
		-ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	    transform: rotate(90deg);
	    position: relative;
	    top: 7.25rem;//rem change
	    z-index: 2;
	}
	label {
		font-size: 7.5rem;
		color: rgba(130, 130, 130, .6);
		text-shadow: 1px 1px rgba(227, 227, 227, 0.4);
		-webkit-text-shadow: 1px 1px rgba(227, 227, 227, 0.4);
		letter-spacing: .5rem; //rem change
		position: relative;
		top: -2rem; //rem change
		left: 3rem;
	}
	canvas {
		//border-right: 1px solid #fff;
		padding-right: 1px;
		&:last-child {
			padding-right: none;
		}
	}

}

.ber_container {
			position:absolute;
			top:54.75rem; //rem change
			min-height:7rem; //rem change
			z-index: 10;
		}		
		.ber.barload, 
		.ber.bargrid, 
		.ber.barsolar, 
		.ber.barinverter
		{
			width:15.75rem !important;//rem change
			position:absolute;
			top:1px;
			color:#fefefe;
    		text-shadow: 1px 1px rgba(127, 127, 127, 0.8);
    		-webkit-text-shadow: 1px 1px rgba(127, 127, 127, 0.8);
			background-color:rgba(140, 140, 140, 0.3);
			text-align:center;
			padding:1rem 0rem;//rem change
			font-size:3rem;//rem change
			line-height:7rem; //rem change
		}		
		.ber.barload 
		{
			left:0rem;//rem change
		}
		.ber.bargrid 
		{
			left:15.5rem;//rem change
		}
		.ber.barsolar
		{
			left:31.25rem;//rem change
		}
		.ber.barinverter
		{
			left:47rem; //rem change
		}		



.donut-chart-container {
	width: 62.5rem;//rem change
	margin: 0 auto;
	position: relative;
	top: -1rem; //rem change
	#donutChart {
		position: relative;
		top: 4.5rem;//rem change
		left: 14rem; //rem change
	}
	label {
		font-size: 3rem;
		color: #fefefe;
		text-shadow: 1px 1px rgba(127, 127, 127, 0.8);
		-webkit-text-shadow: 1px 1px rgba(127, 127, 127, 0.8);
	    font-weight: 400;
	}
	#chartNucleus {
		position: absolute;
		top: 13.4rem;
		left: 23rem;
		height: 17rem;
		width: 17rem;
		border-radius: 12.5rem;
		background: -moz-linear-gradient(top, rgba(149,149,149,0.9) 0, rgba(40,40,40,0.9) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(149,149,149,0.9)), color-stop(100%, rgba(40,40,40,0.9)));
		background: -webkit-linear-gradient(top, rgba(149,149,149,0.9) 0, rgba(40,40,40,0.9) 100%);
		background: linear-gradient(to bottom, rgba(149,149,149,0.9) 0, rgba(40,40,40,0.9) 100%);
		background-opacity: .8;
		color: #fff;
		label {
			color: #fff;
			position: relative;
			top: 6.5rem;
			text-align: center;
		}
	}
	.donut-box {
		width: 17rem;
		height: 8.75rem;
		padding: 1rem;
		padding-top: 2.5rem;
		border-radius: 1rem;
		text-align: center;
		margin: 0 1.5rem 1.5rem 0;
	}
	#topLeft {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	#topRight {
		position: absolute;
		top: 0px;
		left: 45.5rem;
		background: -webkit-linear-gradient(rgba(0,212,255,1), rgba(0,150,255,.9)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(rgba(0,212,255,1), rgba(0,150,255,.9)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(0,212,255,1), rgba(0,150,255,.9)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(0,212,255,1), rgba(0,150,255,.9)); /* Standard syntax */

		background-color: rgba(0,150,255,.9);
	}
	#bottomLeft {
		position: absolute;
		top: 35.75rem; //rem change
		left: 0rem; //rem change
	}
	#bottomRight {
		position: absolute;
		top: 35.75rem; //rem change
		left: 45.5rem; //rem change
	}
}

.fixed-information-box{
	width: 118rem;
	height: 39rem;
	margin: 0px 20px 20px 00px;
	font-size: 3rem;
	padding: 2.5rem;
	box-shadow: inset 0px 0px 4px 3px #d7d7d7;
	-webkit-box-shadow: inset 0px 0px 4px 3px #d7d7d7;
	border-radius: 3px;
	background-color: #efefef;
	float: left;
	position: relative;
	.white-display {
		width: 33.25rem;
		height: 25rem;
		background-color: #fff;
		background-color: #fefefe;
		box-shadow: 0px 0px 4px 2px #dbdbdb;
		-webkit-shadow: 0px 0px 4px 2px #dbdbdb;
		position: relative;
		text-align: center;
		display: inline-block;
		label {
			height: 22.5rem;
			line-height: 22.5rem;
			font-size: 5rem;
			color: #000;
			display: inline-block;
			position: relative;
			right: 4rem;
		}

	}
	#load-chart, #grid-chart, #renewables-chart, #battery-chart {
		width: 72.5rem;
		height: 25rem;
		canvas {
			position: relative;
			top: 3rem;
			right: .75rem;
		}
	}
	.info-box-unit {
		position: absolute;
		top: 9rem;
		right: 5.5rem;
		font-size: 4.5rem;
	}
	.information-label {
		text-transform: uppercase;
		background-color: rgba(220, 220, 220, .3);
		border-radius: 3px;
		margin-top: 2.5rem;
		padding: 1.5rem;
		border: 1px solid rgba(220, 220, 220, .5);
	}
}
.expand-btn {
	margin:0px 0px 10px 13px;
	padding:2.5rem;
	background-color: #0096ff;
	width: 22.5rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.data-table {
	text-align: center;
	div:hover {
		label {
			color: #0096ff;
		}
	}
	div {
		a {
			position: relative;
			top: 3px;
		}
		label {
			position: relative;
			top: 3px;
		}
	}
	div:nth-child(even),div:nth-child(odd) {
		background: none;
	}
}

.edit-screen-schedule {
	//display: none;
	
}

.report-wrapper {
	clear: both;
	width: 100%;
	.report-chart {
		width: 100%;
	}
}
#timeBox {
	display: none;
}
#btnBox {
	display: none;
}
.table-row {
	width: 100%;
	a {
		cursor: pointer;
	}
	div {
		display: inline-block;
		width: 100px;
	}
}







// time picker style below.  should be moved into its own thing

.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 37.5rem;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 1.25rem; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}


.data-table{
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}
.data-table > div{
	padding: 1.5rem;
	border-bottom:1px solid #ddd;
}

#ui-datepicker-div {
	background: #fafafa;
	z-index: 50000000000000000 !important;
}

select {
	height: 6.5rem;
	border: 1px solid #dadada;
	&:focus {
		outline:none;
	}
}

.jqstooltip{
    box-sizing: content-box;
}

.save-error {
		position: absolute;
		z-index: 2;
		border: 1.2rem solid rgba(74,74,74,1);
		padding: 2rem;
		background: #fafafa;
		width: 5rem;
		opacity: 1;
		line-height: 4rem;
		color: rgba(120,120,120,.9);
		border-radius: 1rem;
		webkit-box-shadow: 0 5px 25px -5px rgba(0,0,0,.5);
		box-shadow: 0 5px 25px -5px rgba(0,0,0,.5);
		display: none;
		span {
			color: red;
			text-align: center;
		}
}
#grid-error {
	position: absolute;
	top: 58.75rem;
	left: 16.5rem;
}
#battery-error {
	top: 54rem;
	left: 16.5rem;
}
#generator-error {
	top: 62rem;
	left: 16.5rem;
}
#general-error {
	top: 8.75rem;
	left: 16.5rem;
}
#generator-section {
	display: none; //temporary fix
}


///////////////////////////////////////////////
.ui-datepicker-month {
	display: inline-block;
}
.ui-datepicker-inline {
	height: 46.25rem !important;
	box-shadow: inset 0px 0px 4px 2px #d7d7d7;
	-webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
}

.ui-datepicker-inline *::after{
    display: inline !important;
}

.ui-datepicker-calendar{
    margin: 0px !important;
}

.ui-datepicker-inline{
    background: #fff;
    border: 0px;
    box-shadow: 0px 0px 4px 1px #d7d7d7;
    height: 48.25rem;
    padding: 1.25rem;
}

.ui-datepicker-header{
    border: 0px solid #dcdcdc;
}

.ui-datepicker-calendar .ui-state-active{
    border: 1px solid #63c0ff;
}

.ui-datepicker-prev span{
    background: url("/images/ui-icons_222222_256x240.png");
    border-radius: 2.5rem;
    background-position: -20rem -48rem;
}

.ui-datepicker-next span{
    background: url("/images/ui-icons_222222_256x240.png");
    border-radius: 10px;
    background-position: -12rem -48rem;
}

.ui-datepicker-header{
    padding: 0px !important;
}

.ui-datepicker-calendar tr, .ui-datepicker-calendar td{
    border: 0px !important;
}

.ui-datepicker-calendar td a{
    background: #efefef;
    margin: .5rem .25rem 0rem .25rem;
}

.ui-datepicker-today a{
   // border: 1px solid #dcdcdc;
}

.ui-state-highlight{
    border: 1px solid #dddddd !important;
}
.ui-datepicker th {
	padding: .1em .3em !important;
}


///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
//media queries by width
@media (max-width: 1350px) {
	.config-tabs {
		li {
			width: 26rem;
		}
	}
}

@media (max-width: 1167px) {
	.section {
		margin-right: 2rem !important;
		margin-bottom: 2rem !important;
	}
}

@media (max-width: 1060px) {
	.section-value-box {
		font-size: 4.5rem !important;
	}
}

@media (max-width: 960px) {
  #o {
  	margin-top: 3rem;
  	min-height: 122.5rem;
  }
  #i {
	  .tab-wrap {
	  	border-right: none;
	  }
  }
}

@media (max-width: 700px) {
	.config-tabs {
		li {
			width: 16rem;
		}
	}
	.section-value-box {
		font-size: 3.75rem !important;
	}
	.chart-headline {
		font-size: 15rem;
	}
}

@media (max-width: 655px) {
	.section {
		width: 100% !important;
	}
}

@media (max-width: 565px) {
	.calendar-container {
		width: 57.5rem !important;
	}
}

@media only screen 
and (min-width: 320px)
and (max-width: 500px) {
	#tab1 {
		display: none !important;
	}
	.tab-list {
		.sidetab1 {
			display: none;
		}
		.csv-report-tab {
			display: none;
		}

		position: relative;
		top: 2px;
		width: 100%;
		box-shadow: none;
		li {
			.active {
				border-bottom: none;	
			}
			display: inline-block;
			width: 50%;
			//border-bottom: none;
		}
		.active {
			border: 1px solid #ddd;
			border-bottom: 1px solid #fafafa;
		}
	}
	.chart-headline {
		font-size: 10rem;
		position: relative;
		top: 37rem;
	}
	.tab-wrap {
		height: 100% !important;
	}
	.config-tabs {
		li {
			width:12rem;
			font-size: 8px;
		}
	}
	#tab1, #tab2, #tab3, #tab4 {
		position: relative;
		left: 0;
		width: 100%;
	}
	#tab2 {
		min-height: 282rem;
	}
	#tab3 {
		min-height: 146rem;
	}
	/*.section {
		width: 100% !important;
	}*/
}

///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
//media queries by height


