/*
	Form specific styles go here
*/
@import "palette";

label{
	display: block;
	color: #6e6e6e;
	letter-spacing: .03em;
	margin: 0 0 1.5rem 0;
	font-size: 3rem;
	height: 3rem;
	font-family: 'Open Sans',Arial,Helvetica,Sans;
	text-shadow: 0 1px 0 #fff;
	opacity: 1;
	font-size: 3rem;
}

/*
	icon buttons are special
*/
button, .button:not(i){
	font-family: 'Open Sans',Arial,sans-serif;
	border: 0 none;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	font-size: 3rem;
	font-weight: bold;
	line-height: 5rem;
	margin-bottom: 3rem;
	margin-top: 3rem;
	padding: 2rem 5.5rem;
	text-transform: none;
	text-align: center;
}

/*
	Nesting class variations and pesudo states like this enables mixin classes to also use the mixin's in pseudo styles...
	^^ wtf am I trying to say?? ^^
*/
button,
.button{
	transition: background-color .05s linear 0, color .05s linear 0;
	-moz-transition: background-color .05s linear 0, color .05s linear 0;
	-webkit-transition: background-color .05s linear 0, color .05s linear 0;
	color: @white;
	background-color: @blue;
	cursor: pointer;
	&:hover{
		background-color: @blue-1;
		-webkit-box-shadow:inset 0 -2px 0 0px rgba(0,0,0,.1);
		box-shadow:inset 0 -2px 0 0px rgba(0,0,0,.1);
	}
	&:active{
		background-color: @blue-3;
		-webkit-box-shadow:inset 0 2px 0 0px rgba(0,0,0,.1);
		box-shadow:inset 0 2px 0 0px rgba(0,0,0,.1);
	}
	&.red{
		background-color: @red;
		&:hover{
			background-color: @red-1;
		}
		&:active{
			background-color: @red-3; 
		}
	}
	&.green{
		background-color: @green;
		&:hover{
			background-color: @green-1;
		}
		&:active{
			background-color: @green-3; 
		}
	}
	&.blue{
		background-color: @blue;
		&:hover{
			background-color: @blue-1; 
		}
		&:active{
			background-color: @blue-3; 
		}
	}
	&.white{
		background-color: @white; 
		color: @black;
		&:hover{
			background-color: @white-1;
		}
		&:active{
			background-color: @white-3;
		}
	}
	&.grey{
		background-color: @grey;
		color: @black; 
		&:hover{
			background-color: @grey-1;
		}
		&:active{
			background-color: @grey-3;
		}
	}
	&.black{
		background-color: @black;
		&:hover{
			background-color: @black-1;
		}
		&:active{
			background-color: @black-3;
		}
	}
	&.hover-red:hover{
		.red;
	}
	&.hover-green:hover{
		.green; 
	}
	&.hover-blue:hover{
		.blue;
	}
	&.hover-white:hover{
		.white;
	}
	&.hover-grey:hover{
		.grey;
	}
	&.hover-black:hover{
		.black;
	}
}

/*Icon inside a button*/
button > i {
	font-size: 4rem;
}

/*Icon is a button*/
i.button{
	border-radius: 3.5rem;
	text-align: center;
	line-height: 5rem;
	display: inline-block;
	height: 5rem;
	width: 5rem;
	font-size: 3rem;
}

/*Special case. The fork icon is weird shaped*/
i.icon-fork.button{
	// font-size: 2.75rem;
	padding-left: 1px;
}
	
input{
	font-family: 'Open Sans',Arial,Helvetica,Sans;
	outline: 0;
	border: 1px solid @grey-1;
	padding: 1rem 1.5rem;
	margin: 2.5rem 0;
	min-width: 75%;
	max-width: 100%;
	font-size: 3rem;
	border-radius: 1rem;
	color: rgba(120,120,120,.9);
	-webkit-transition: border .1s linear;
	-moz-transition: border .1s linear;
	-ms-transition: border .1s linear;
	-o-transition: border .1s linear;
	transition: border .1s linear;
	width: 100%;
	background: #fff;
	&:hover{
		border: 1px solid @grey-2;
		-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.08);
		box-shadow:inset 0 0 5px 0 rgba(0,0,0,.08);
	}
	&:focus{
		border: 1px solid @blue;
	}

}

input[type="radio"], input[type="checkbox"] {
	margin: 0;
	width: 2.5rem;
	padding: 0;
	min-width: 2.5rem;
	max-width: 2.5rem;
}
input[type="radio"] {
	position: relative;
	left: 3rem;
}

input.inline{
	border: none;
	background: none;
	padding: 1.5rem 2rem;
	font-size: 3rem;
	margin: 0rem;
	vertical-align: middle;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	&:hover{
		background: @white;
		-webkit-box-shadow: 0rem 0rem 5px 0 rgba(147, 147, 147, 0.26);
		box-shadow: 0rem 0rem 5px 0 rgba(147, 147, 147, 0.26);
	}
	&:focus{
		background: white;
		-webkit-box-shadow: 0rem 0rem 5px 0 rgba(147, 147, 147, 0.26);
		box-shadow: 0rem 0rem 5px 0 rgba(147, 147, 147, 0.26);
	}
}

textarea{
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	min-height: 100px;
}
/*
	Why bother.... We'll replace these with something sexier eventually.
*/
select{
	width: 100%;
}

/*
	jQuery UI theme
*/
[class*=ui-]{
	font-size: 3rem;
}

* > .ui-autocomplete{
	color: rgba(120,120,120,0.9);
	border-radius: 1rem;
	max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    margin-top: 1.5rem;
    background: #fafafa;
	border-left: 1px solid @white;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
}

.ui-autocomplete > li {
	padding: 1.5rem;
	cursor: pointer;
	border: none;
	&:hover{
		color: @blue;
		background: rgb(255, 255, 255);
	}
}