/*
	Measurz color palette
	Unfortuntely LESS does not allow you to directly access arrays or user defined functions so...
	
	@color - neutral
	@color-1 - light
	@color-2 - neutral
	@color-3 - dark
	
	@color-1 - hover
	@color - default
	@color-2 - default
	@color-3 - active

*/

@white-1: #ffffff;
@white-2: #fafafa;
@white: #fafafa;
@white-3: #f5f5f5;

@grey-1: #dadada;
@grey-2: #dddddd;
@grey: #dddddd;
@grey-3: #CDCDCD;

/*	Murika!	*/
@gray-1: @grey-1;
@gray-2: @grey-2;
@gray: @grey;
@gray-3: @grey-3;

@black-1: #1a1a1a;
@black-2: #323232;
@black: #323232;
@black-3: #4a4a4a;

@blue-1: #02b8ff;
@blue-2: #0096ff;
@blue: #0096ff;
@blue-3: #008bff;

@green-1: #3FCF3F;
@green-2: #25C225;
@green: #25C225;
@green-3: #35BA35;

@red-1: #f55848;
@red-2: #e74c3c;
@red: #e74c3c;
@red-3: #d34334;

/*looks like yuck!*/
@yellow-1 : #FEE467;
@yellow-2 : #FBCF55;
@yellow: #FBCF55;
@yellow-3 : #FBB433;