select {
  height: 6.5rem;
  border: 1px solid #dadada;
}
select:focus {
  outline: none;
}
sup {
  vertical-align: super;
}
input.btn:hover {
  border: 0px;
}
#tab1 input {
  text-align: center;
}
#compositebar {
  z-index: 100;
}
#o {
  overflow-y: scroll;
  overflow-x: hidden;
}
#visualization {
  position: relative;
}
#auth {
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
  margin: 100px auto 0px auto;
  padding: 40px;
  width: 420px;
}
#auth img {
  margin-bottom: 30px;
  width: 100%;
}
#auth label {
  font-weight: bold;
}
#legend {
  position: absolute;
  left: 6rem;
  top: 3.5rem;
  width: 41rem;
  height: 35.5rem;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 3rem;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  z-index: 5000;
  font-size: 2rem;
}
#legend #legend-labels {
  padding-top: 1rem;
}
#legend #legend-labels label {
  text-shadow: none;
  font-size: 3rem;
  color: #000;
  position: relative;
  color: #323232;
  line-height: 4.5rem;
  letter-spacing: 0px;
  font-family: "Open Sans", Arail, Helvetica;
  text-align: left;
}
#legend #legend-labels .swatch {
  position: relative;
  top: .6rem;
  height: 3.3rem;
  width: 3.3rem;
  border-radius: .5rem;
  padding-top: 1px;
}
#legend #legend-labels #blue-swatch {
  background-color: rgba(0, 150, 255, 0.9);
}
#legend #legend-labels #orange-swatch {
  background-color: #f9a100;
}
#legend #legend-labels #green-swatch {
  background-color: #25c225;
}
#legend #legend-labels #grey-swatch {
  background-color: rgba(140, 140, 140, 0.9);
}
#legend:hover {
  background-color: #ffffff;
}
#legend img {
  width: 34.5rem;
  height: auto;
}
.error {
  position: absolute;
  top: 58.75rem;
  left: 16.5rem;
}
.chart-wrap {
  margin: 3rem;
  text-align: center;
}
.chart-headline {
  color: white;
  line-height: 100rem;
  text-align: center;
  font-size: 20rem;
  opacity: .5;
  position: relative;
  top: 20rem;
}
.input-wrapper :focus {
  border-color: #0096ff;
  webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.08);
}
.error-popup {
  position: relative;
  background: #d5d5d5;
  border: 1rem solid #4a4a4a;
}
.error-popup:after,
.error-popup:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.error-popup:after {
  border-color: rgba(213, 213, 213, 0);
  border-top-color: #4a4a4a;
  border-width: 2rem;
  margin-left: -2rem;
}
.error-popup:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #4a4a4a;
  border-width: 3.25rem;
  margin-left: -3.25rem;
}
.error-input-border {
  border: red 1px solid;
}
.error-input-border:focus {
  border: red 1px solid;
}
.monitoring-tab .section-container .hidden {
  display: none;
}
.monitoring-tab .section-container .section {
  height: 46.5rem;
  /*max-width: 113rem;*/
  min-width: 61.25rem;
  padding: 2.5rem;
  /*width: 48%;*/
}
.monitoring-tab .section-container .section:nth-child(3),
.monitoring-tab .section-container .section:nth-child(6) {
  margin-right: 0rem;
}
.monitoring-tab .section-container .section .monitor-value {
  position: relative;
  top: 3rem;
  left: 4rem;
}
.monitoring-tab .section-container .section .right-side-unit {
  position: relative;
  top: 0.5rem;
  left: 1rem;
}
.monitoring-tab .section-container .section .label-name {
  position: relative;
  top: 1.25rem;
}
.monitoring-tab .section-container .section .label {
  display: inline-block;
  position: relative;
  top: 8.75rem;
}
.monitoring-tab .section-container .section .unit-label {
  display: inline-block;
  position: relative;
  top: 8.75rem;
  left: 2.25rem;
}
.monitoring-tab .section-container .section .section-value-box {
  -webkit-border-radius: .75rem;
  -webkit-shadow: 0px 0px 4px 2px #dbdbdb;
  background-color: #fefefe;
  border-radius: .75rem;
  box-shadow: 0px 0px 4px 2px #dbdbdb;
  float: left;
  height: 110px;
  line-height: 6rem;
  padding: 8rem 0rem 0rem 0rem;
  text-align: center;
  width: 100%;
}
.monitoring-tab .section-container .section .section-value-box:nth-child(2),
.monitoring-tab .section-container .section .section-value-box:nth-child(3),
.monitoring-tab .section-container .section .section-value-box:nth-child(4) {
  display: none;
}
.monitoring-tab .section-container .section .section-value-box a {
  color: #333;
  font-size: 5rem;
  text-decoration: none;
}
.monitoring-tab .section-container .section .section-value-box sup {
  font-size: 3rem;
}
.monitoring-tab .section-container .section .section-value-box .empty {
  display: none;
}
.monitoring-tab .section-container .section .section-value-box .phase-name {
  clear: both;
  display: block;
}
.monitoring-tab .section-container .section .section-graph-area {
  width: 100%;
  height: 100%;
  float: right;
  height: 22.5rem;
  margin: 0;
  display: inline-block;
}
.monitoring-tab .section-container .section .section-graph-area:nth-child(2),
.monitoring-tab .section-container .section .section-graph-area:nth-child(3),
.monitoring-tab .section-container .section .section-graph-area:nth-child(4) {
  display: none;
}
.monitoring-tab .section-container .section .section-description {
  clear: both;
  text-transform: uppercase;
  background-color: rgba(220, 220, 220, 0.3);
  border-radius: .75rem;
  margin: 2.5rem -2.6rem -2.6rem -2.6rem;
  padding: 3rem 0rem 0rem 2rem;
  border: 1px solid rgba(220, 220, 220, 0.5);
  height: 14rem;
}
.monitoring-tab .section-container .section .section-description strong {
  display: block;
  margin-top: 2rem;
  text-align: center;
}
.monitoring-tab .section-container .section .section-description .phase-name {
  display: none;
}
.monitoring-tab .section-container .section .section-description .empty {
  clear: both;
  display: block;
}
.monitoring-tab .section-container .section .phase {
  text-align: center;
}
.monitoring-tab .section-container .section .phase a {
  color: #333;
}
.monitoring-tab .section-container .indent {
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: inset 0px 0px 4px 2px #d7d7d7;
  -webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
}
.monitoring-tab .calendar-container {
  display: inline-block;
}
.monitoring-tab .calendar-container #datepicker1 {
  display: inline-block;
}
.monitoring-tab .calendar-container #datepicker2 {
  display: inline-block;
}
.settings-tab .data-table input {
  margin: 1rem 0rem;
}
.settings-tab .data-table select {
  width: 100%;
}
.settings-tab .data-table .btn {
  margin: 0rem;
}
.demand-tab .peak label {
  font-size: 3.5rem;
  margin: 1.5rem 0rem 7rem 0rem;
}
.demand-tab .peak input {
  margin: 0rem;
}
.demand-tab .peak p {
  margin-left: 1rem;
}
.demand-tab .data-table input {
  margin: 1rem 0rem;
}
.demand-tab .data-table select {
  margin: 1rem 0rem;
  width: 100%;
}
.demand-tab .data-table .circle {
  margin: 2.2rem 0rem;
}
.reports-tab .report-chart {
  width: 100%;
}
.reports-tab .data-table {
  text-align: left;
}
.reports-tab .table-row {
  padding: 3rem;
}
.active-tab-body {
  display: block;
}
.chart-wrap {
  position: relative;
}
.battery-group {
  font-size: 4rem;
}
.merp {
  background-color: rgba(90, 90, 90, 0.4);
  min-width: 16.5rem;
  max-width: 16.5rem;
  height: 21.5rem;
  line-height: 21.5rem;
  padding: 2rem;
  border-radius: 5px;
  font: bold 2.5rem/5rem Verdana;
  text-align: center;
  margin: 0px 6px 6px 0px;
}
.mankee {
  background-color: rgba(90, 90, 90, 0.4);
  width: 22.5rem;
  display: inline-block;
  padding: 2rem;
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 1.25rem;
  font-size: 3.5rem;
  text-align: center;
}
.mankee div {
  font-weight: bold;
}
.mankee label {
  color: #000;
  text-shadow: none;
}
.info-container {
  width: 100%;
  background-color: #eee;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 4px 2px #d7d7d7;
  -webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
}
.info-container .info-display {
  margin: auto;
  border-radius: 1rem;
  position: relative;
  background-color: #fff;
  box-shadow: inset 0px 0px 4px 2px #d7d7d7;
  -webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
}
.info-container .info-box-unit {
  position: absolute;
  top: 3rem;
}
.info-container label {
  padding: 2rem;
}
.info-container h3 {
  margin: 1rem 0 1rem 0;
  position: relative;
  right: 3rem;
}
.stats-container p {
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: inset 0px 0px 4px 2px #d7d7d7;
  height: 15rem;
  margin: 0 5rem 5rem 5rem;
  padding: 2.5rem;
  -webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
}
.stats-container label {
  background: none repeat scroll 0 0 #fff;
  border-right: 2px solid #dcdcdc;
  color: #000;
  display: block;
  float: left;
  font-size: 5rem;
  margin: -2rem 2.5rem -2rem -2rem;
  opacity: 0.5;
  padding: 4rem 0rem 10rem 0rem;
  text-align: center;
  width: 85px;
}
.stats-container span {
  display: block;
  font-size: 5rem;
  padding: 2rem 0rem 2rem 0rem;
}
.top-battery-row {
  position: relative;
  left: 18rem;
}
.perc {
  /*box-shadow: 0px 0px 2px 2px rgba(110, 110, 110, .7);*/
  line-height: 5rem !important;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
  cursor: pointer;
}
.perc label {
  color: #fff;
  text-shadow: none;
  font-size: 3.3rem;
  position: relative;
  top: 6rem;
}
.perc_40 {
  background: -moz-linear-gradient(top, rgba(149, 149, 149, 0.9) 0%, rgba(40, 40, 40, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(149, 149, 149, 0.9)), color-stop(100%, rgba(40, 40, 40, 0.9)));
  background: -webkit-linear-gradient(top, rgba(149, 149, 149, 0.9) 0%, rgba(40, 40, 40, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(149, 149, 149, 0.9) 0%, rgba(40, 40, 40, 0.9) 100%);
  background-opacity: .8;
  color: #fff;
}
.perc_60 {
  background-color: rgba(91, 155, 213, 0.9);
  background: -moz-linear-gradient(top, rgba(91, 155, 213, 0.9) 0%, rgba(121, 179, 211, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(91, 155, 213, 0.9)), color-stop(100%, rgba(121, 179, 211, 0.9)));
  background: -webkit-linear-gradient(top, rgba(91, 155, 213, 0.9) 0%, rgba(121, 179, 211, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(91, 155, 213, 0.9) 0%, rgba(121, 179, 211, 0.9) 100%);
  color: #fff;
}
.perc_80 {
  background-color: rgba(249, 161, 0, 0.9);
  background: -moz-linear-gradient(top, rgba(255, 191, 12, 0.9) 0%, rgba(249, 161, 0, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 191, 12, 0.9)), color-stop(100%, rgba(249, 161, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(249, 161, 0, 0.9) 0%, rgba(255, 191, 12, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(255, 191, 12, 0.9) 0%, rgba(249, 161, 0, 0.9) 100%);
  color: #fff;
}
.perc_100 {
  background-color: rgba(37, 194, 37, 0.9);
  background: -moz-linear-gradient(top, rgba(37, 194, 37, 0.9) 0%, rgba(17, 144, 32, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37, 194, 37, 0.9)), color-stop(100%, rgba(17, 144, 32, 0.9)));
  background: -webkit-linear-gradient(top, rgba(37, 194, 37, 0.9) 0%, rgba(17, 144, 32, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(37, 194, 37, 0.9) 0%, rgba(17, 144, 32, 0.9) 100%);
  color: #fff;
}
.perc_120 {
  background: -moz-linear-gradient(top, rgba(255, 51, 0, 0.9) 0%, rgba(207, 53, 19, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 51, 0, 0.9)), color-stop(100%, rgba(207, 53, 19, 0.9)));
  background: -webkit-linear-gradient(top, rgba(255, 51, 0, 0.9) 0%, rgba(207, 53, 19, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(255, 51, 0, 0.9) 0%, rgba(207, 53, 19, 0.9) 100%);
  color: #fff;
}
.top-output-container {
  background-color: #eee;
  opacity: 0.9;
}
.bar-chart-container {
  background-color: #e2e2e2;
  width: 62.5rem;
  margin: 0 auto;
  position: relative;
}
.bar-chart-container .red-bar {
  height: 0.5rem;
  background-color: red;
  width: 68.25rem;
  z-index: 3;
  position: relative;
  top: 34rem;
  opacity: .4;
}
.bar-chart-container .bar-chart {
  display: inline-block;
  position: relative;
  top: 2.5rem;
  z-index: 5;
  opacity: 0.8;
}
.bar-chart-container .bar-chart-value {
  position: absolute;
  width: 25%;
  top: 65rem;
  padding: 2rem;
  color: #fff;
  text-shadow: 1px 1px #000;
  background-color: rgba(144, 144, 144, 0.5);
  z-index: 2;
  height: 6.5rem;
  text-align: center;
}
.bar-chart-container .label-container {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  position: relative;
  top: 7.25rem;
  z-index: 2;
}
.bar-chart-container label {
  font-size: 7.5rem;
  color: rgba(130, 130, 130, 0.6);
  text-shadow: 1px 1px rgba(227, 227, 227, 0.4);
  -webkit-text-shadow: 1px 1px rgba(227, 227, 227, 0.4);
  letter-spacing: .5rem;
  position: relative;
  top: -2rem;
  left: 3rem;
}
.bar-chart-container canvas {
  padding-right: 1px;
}
.bar-chart-container canvas:last-child {
  padding-right: none;
}
.ber_container {
  position: absolute;
  top: 54.75rem;
  min-height: 7rem;
  z-index: 10;
}
.ber.barload,
.ber.bargrid,
.ber.barsolar,
.ber.barinverter {
  width: 15.75rem !important;
  position: absolute;
  top: 1px;
  color: #fefefe;
  text-shadow: 1px 1px rgba(127, 127, 127, 0.8);
  -webkit-text-shadow: 1px 1px rgba(127, 127, 127, 0.8);
  background-color: rgba(140, 140, 140, 0.3);
  text-align: center;
  padding: 1rem 0rem;
  font-size: 3rem;
  line-height: 7rem;
}
.ber.barload {
  left: 0rem;
}
.ber.bargrid {
  left: 15.5rem;
}
.ber.barsolar {
  left: 31.25rem;
}
.ber.barinverter {
  left: 47rem;
}
.fixed-information-box {
  width: 118rem;
  height: 39rem;
  margin: 0px 20px 20px 00px;
  font-size: 3rem;
  padding: 2.5rem;
  box-shadow: inset 0px 0px 4px 3px #d7d7d7;
  -webkit-box-shadow: inset 0px 0px 4px 3px #d7d7d7;
  border-radius: 3px;
  background-color: #efefef;
  float: left;
  position: relative;
}
.fixed-information-box .white-display {
  width: 33.25rem;
  height: 25rem;
  background-color: #fff;
  background-color: #fefefe;
  box-shadow: 0px 0px 4px 2px #dbdbdb;
  -webkit-shadow: 0px 0px 4px 2px #dbdbdb;
  position: relative;
  text-align: center;
  display: inline-block;
}
.fixed-information-box .white-display label {
  height: 22.5rem;
  line-height: 22.5rem;
  font-size: 5rem;
  color: #000;
  display: inline-block;
  position: relative;
  right: 4rem;
}
.fixed-information-box #load-chart,
.fixed-information-box #grid-chart,
.fixed-information-box #renewables-chart,
.fixed-information-box #battery-chart {
  width: 72.5rem;
  height: 25rem;
}
.fixed-information-box #load-chart canvas,
.fixed-information-box #grid-chart canvas,
.fixed-information-box #renewables-chart canvas,
.fixed-information-box #battery-chart canvas {
  position: relative;
  top: 3rem;
  right: .75rem;
}
.fixed-information-box .info-box-unit {
  position: absolute;
  top: 9rem;
  right: 5.5rem;
  font-size: 4.5rem;
}
.fixed-information-box .information-label {
  text-transform: uppercase;
  background-color: rgba(220, 220, 220, 0.3);
  border-radius: 3px;
  margin-top: 2.5rem;
  padding: 1.5rem;
  border: 1px solid rgba(220, 220, 220, 0.5);
}
.expand-btn {
  margin: 0px 0px 10px 13px;
  padding: 2.5rem;
  background-color: #0096ff;
  width: 22.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.data-table {
  text-align: center;
}
.data-table div:hover label {
  color: #0096ff;
}
.data-table div a {
  position: relative;
  top: 3px;
}
.data-table div label {
  position: relative;
  top: 30%;
}
.data-table div:nth-child(even),
.data-table div:nth-child(odd) {
  background: none;
}
.report-wrapper {
  clear: both;
  width: 100%;
}
.btn {
  background: #0096ff;
  border-radius: 4px;
  border: 0px;
  color: #fff !important;
  display: inline-block !important;
  padding: 2rem 4rem;
  text-align: center;
}
.btn:hover {
  background: #0085ee;
}
#timeBox {
  display: none;
}
#btnBox {
  display: none;
}
.table-row {
  width: 100%;
}
.table-row a {
  cursor: pointer;
}
.table-row div {
  display: inline-block;
  width: 100px;
}
.circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.circle-red {
  background: #d22619;
}
.circle-green {
  background: #3cc366;
}
.jqstooltip {
  box-sizing: content-box;
}
.save-error {
  position: absolute;
  z-index: 2;
  border: 1.2rem solid #4a4a4a;
  padding: 2rem;
  background: #fafafa;
  width: 5rem;
  opacity: 1;
  line-height: 4rem;
  color: rgba(120, 120, 120, 0.9);
  border-radius: 1rem;
  webkit-box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.5);
  display: none;
}
.save-error span {
  color: red;
  text-align: center;
}
.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 37.5rem;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 10001;
  margin: 0;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 13em;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
  width: 11em;
}
.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ui-timepicker-duration {
  margin-left: 1.25rem;
  color: #888;
}
.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}
.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
}
.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000;
}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980EC;
  color: #fff;
}
li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}
.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}
.data-table {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}
.data-table > div {
  padding: 1.5rem;
  border-bottom: 1px solid #ddd;
}
#ui-datepicker-div {
  background: #fafafa;
  z-index: 50000000000000000 !important;
}
.ui-datepicker-month {
  display: inline-block;
}
.ui-datepicker-inline {
  height: 46.25rem !important;
  box-shadow: inset 0px 0px 4px 2px #d7d7d7;
  -webkit-box-shadow: inset 0px 0px 4px 2px #d7d7d7;
  width: 53rem;
}
.ui-datepicker-inline *::after {
  display: inline !important;
}
.ui-datepicker-calendar {
  margin: 0px !important;
}
.ui-datepicker-inline {
  background: #fff;
  border: 0px;
  box-shadow: 0px 0px 4px 1px #d7d7d7;
  height: 48.25rem;
  padding: 1.25rem;
}
.ui-datepicker-header {
  border: 0px solid #dcdcdc;
}
.ui-datepicker-calendar .ui-state-active {
  border: 1px solid #63c0ff;
}
.ui-datepicker-prev span {
  background: url("/images/ui-icons_222222_256x240.png");
  border-radius: 2.5rem;
  background-position: -20rem -48rem;
}
.ui-datepicker-next span {
  background: url("/images/ui-icons_222222_256x240.png");
  border-radius: 10px;
  background-position: -12rem -48rem;
}
.ui-datepicker-header {
  padding: 0px !important;
}
.ui-datepicker-calendar tr,
.ui-datepicker-calendar td {
  border: 0px !important;
}
.ui-datepicker-calendar td a {
  background: #efefef;
  margin: .5rem .25rem 0rem .25rem;
}
.ui-state-highlight {
  border: 1px solid #dddddd !important;
}
.ui-datepicker th {
  padding: .1em .3em !important;
}
.phase-d .empty {
  font-weight: bold;
}
@media (max-width: 1350px) {
  .config-tabs li {
    width: 26rem;
  }
}
@media (max-width: 1167px) {
  .section {
    margin-right: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }
}
@media (max-width: 1060px) {
  .section-value-box {
    font-size: 4.5rem !important;
  }
}
@media (max-width: 960px) {
  #o {
    display: none;
    margin-top: 3rem;
    min-height: 122.5rem;
  }
  #i .tab-wrap {
    border-right: none;
  }
}
@media (max-width: 700px) {
  .config-tabs li {
    width: 16rem;
  }
  .section-value-box {
    font-size: 3.75rem !important;
  }
  .chart-headline {
    font-size: 15rem;
  }
}
@media (max-width: 565px) {
  .calendar-container {
    width: 52.5rem !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
  #o {
    display: none;
  }
  .tab-list {
    position: relative;
    top: 2px;
    width: 100%;
    box-shadow: none;
  }
  .tab-list li {
    display: inline-block;
    width: 25%;
  }
  .tab-list li .active {
    border-bottom: none;
  }
  .tab-list .active {
    border: 1px solid #ddd;
    border-bottom: 1px solid #fafafa;
  }
  .chart-headline {
    font-size: 10rem;
    position: relative;
    top: 37rem;
  }
  .tab-wrap {
    height: 100% !important;
  }
  .config-tabs li {
    width: 12rem;
    font-size: 8px;
  }
  #tab1,
  #tab2,
  #tab3,
  #tab4 {
    position: relative;
    left: 0;
    width: 100%;
  }
  #tab2 {
    min-height: 330rem;
  }
  #tab3 {
    min-height: 146rem;
  }
  .section {
    width: 100% !important;
  }
}
