@import url("/assets/grid/stylesheets/fraction-grid.min.css");

body {
  background: url(/img/bg-pattern.png) repeat-x fixed 3800px -120px;
  font-family: "Open Sans",Arial,Helvetica,Sans;
  letter-spacing: 0.03em;
  margin-top: 77px;
  text-align: center;
  vertical-align: middle;
}

a {
  color: #00B7FF;
}

.clearfix{
    clear: both;
    display: block;
}

.navbar{

}

.navbar-header{
  min-height: 66px;
}

.navbar-toggle{
  margin: 15px 11px 0px 0px;
}

.navbar-brand{
  margin: 0px 0px 0px 0px !important;
  padding: 10px 0px 0px 0px;
}

#data-graph{
  background: none repeat scroll 0 0 rgb(150, 150, 150);
  border-radius: 4px;
  color: #ccc;                                                   
  margin: 0px 15px 15px 15px;

  position: relative;
  text-align: center;
}

#data-graph .no-data{
  font-size: 5.7em;
}

#data-graph .legend{
  background: #ccc;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: .88em;
  letter-spacing: 1px;
  margin: 8px;
  padding: 12px;
  position: absolute;
  right: 0px;
  top: 0px;
}

#data-graph .legend img{
  width: 128px;
}

#data-graph .legend ul{
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

#data-graph .legend ul li{
  line-height: 1em;
  padding: 5px 0px 2px 0px;
  text-align: left;
}

#data-graph .legend .box{
  background: #efefef;
  border-radius: 3px;
  float: left;
  height: 15px;
  margin: 0px 10px 0px 0px;
  width: 15px;
}

#data-graph .legend .box.grey{
  background: #dddddd;   
}

#data-graph .legend .box.blue{
  background: linear-gradient(to bottom, #00d4ff 0%, #0097ff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);               
}

#data-graph .legend .box.orange{
  background: none repeat scroll 0 0 rgb(249, 161, 0);
}

#data-graph .legend .box.green{
  background: none repeat scroll 0 0 rgb(37, 194, 37);
}

#tab-content{
  
}

#tab-content .col-sm-7{
    padding: 0px;
}

#tab-content .icon{
  clear: right;
  font-size: 1.5em;
  width: 1em;
}

#tab-content span{
  clear: both;
  display: block;
  width: 100%;
}


#tab-content #left-sidebar{
    position: relative;
}

#tab-content ul.nav{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
  clip: rect(-10px, 73px, 2575px, -10px); 
  position: absolute;
  width: 100%;
  z-index: 100;
}

#tab-content .ul.nav li{
  border-bottom: 1px solid #dcdcdc;
  margin: 0px 0px 0px 0px !important;
}

#tab-content ul.nav li a{
  background: #ffffff;
  border: 0px;
  border-radius: 0px;                    
}

#tab-content ul.nav li a span{
    font-size: .8em;
}

#tab-content ul .active a{
  background: #fafafa !important;
}

#tab-content #content{
  background: #fafafa;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  margin-left: -3.65%;
  min-height: 700px;
  padding: 15px 400px 15px 15px;
  width: 78.45%;
}

#tab-content #sidebar{
  background: #ffffff;
}



.display-panel{
    background: #cfcfcf;
    border-radius: 4px;
    padding: 20px 20px 20px 40px;
}

.display-panel table{
    background: #f7f7f7;
    border-left: 3px solid #7e7e7e;
    border-radius: 4px 4px 4px 4px;
    width: 100%;
}

.display-panel tr{
    border-bottom: 2px solid #f7f7f7;
}

.display-panel table .left{
    background: #efefef;
    width: 50px;
}

.display-panel table .right{
    font-weight: bold;
}






@media (max-width: 360px){

  #data-graph{
    height: 300px; 
    padding: 0px;  
  }  
  
  #data-graph .no-data{
    font-size: 2.7em;
  }
  
  #data-graph .legend{
    left: -10px;
    top: 300px;
    width: 100%;
  }
   
  #data-graph .legend img{
    float: right;
  }
  
  #data-graph .legend ul{
    margin-top: 0px;
  }
  
  #tab-content{
    margin-top: 110px;
  }
  
  #tab-content #content{
      padding: 0px;
      padding-left: 20px;
      width: auto;
  }
  
  #left-sidebar{
      display: none;
  }

}

/* FIXES */
.icon-bar:before{
  content: normal !important;
}
