
/*colurz*/
@import "palette";

/*
	----------------------------------------------------------------
	MIXINS
	----------------------------------------------------------------
	LESS is really awesome. I'm going to attempt to compartmentalize
	the high level styles here.

	If this gets too big I'll create a new .LESS file and import it

*/

/* 	
	Shadows 
	------------------------------
*/
.sink-shadow{
	box-shadow: inset 0px 0px 4px 2px rgba(147, 147, 147, 0.26);
	-webkit-box-shadow: inset 0px 0px 4px 2px rgba(147, 147, 147, 0.26);
}
.lift-shadow{
	-webkit-box-shadow: 0rem 0rem 5px 0 rgba(147, 147, 147, 0.26);
	box-shadow: 0rem 0rem 5px 0 rgba(147, 147, 147, 0.26);
}


/*
	Layout
	------------------------------
*/
.block{display: block;}
.none, .hide {display:none !important;}
.clear {clear:both !important;}
.left {text-align:left;}
.right {text-align:right;}
.center {text-align:center;}
.divider {min-height:3rem !important;}
.strong {font-weight:bold !important;}
.border {border: 1px solid @grey}
.inline {display: inline-block;}

/*
	----------------------------------------------------------------
	HTML & BODY
	----------------------------------------------------------------
	html's font size is set at 4px. The rest of the interface is built using rem.
		*	1rem = 4px
		*	2rem = 8px

*/

*{box-sizing: border-box;}

html{height: 100%; font-size: 4px;font-family: "Open Sans";} /*Use REM for everything*/

body{
	margin: 0px; 
	padding: 0px; 
	height: 100%; 
	font-family: "Open Sans", Arial, Helvetica;
	background: url(/images/jlm-phase-e.png);
	background-repeat: repeat-x;
	background-position: 3800px -120px;
	background-attachment: fixed;
	font-size: 3rem;
	color : @black;
}

/*
	----------------------------------------------------------------
	COMMON ELEMENTS
	----------------------------------------------------------------
*/

/*
	Anchors (links)
	------------------------------
*/
a{color: @blue-2;text-decoration: none;}
a:visited{color: @blue-1}
a:hover{color: @blue-1}
a:active{color: @blue-3}

/* 
	Text Elements
	------------------------------
*/

h1,h2,h3,h4{font-weight: 400}
h1{font-size: 8rem;}
h2{font-size: 6rem;}
h3{font-size: 4.5rem;}
h4{font-size: 3.5rem;}

p, span, pre, i, b, a{
	font-size: 3rem;
}

strong, .strong{
	font-size: 3rem;
	font-weight: 700;
}

small, .small{
	font-size: 2.75rem;
	font-weight: 100;
}

/*
	Coloize...
	------------------------------
*/
p, span, pre, i:not(.button), b, a, h1, h2, h3, h4, h5, h6{

	&.red{
		color: @red; 
	}
	&.green{
		color: @green; 
	}
	&.blue{
		color: @blue; 
	}
	&.white{
		color: @white; 
	}
	&.grey{
		color: @grey;
	}
	&.black{
		color: @black;
	}
	
	/* Color variations on hover */
	&.hover-red:hover{
		color: @red; 
	}
	&.hover-green:hover{
		color: @green; 
	}
	&.hover-blue:hover{
		color: @blue; 
	}
	&.hover-white:hover{
		color: @white; 
	}
	&.hover-grey:hover{
		color: @grey;
	}
	&.hover-black:hover{
		color: @black;
	}

}



/*
	----------------------------------------------------------------
	LAYOUT ELEMENTS
	----------------------------------------------------------------
*/

div, ul, ol, hr, li{
	&.red{
		background-color: @red; 
	}
	&.green{
		background-color: @green; 
	}
	&.blue{
		background-color: @blue; 
	}
	&.white{
		background-color: @white; 
	}
	&.grey{
		background-color: @grey;
	}
	&.black{
		background-color: @black;
	}
}

#header{
	// position: relative;
	z-index: 1000;
	background: none repeat scroll 0 0 @white;
	box-shadow: 0 0 6px 0 rgba(150,150,150,.45);
	width: 100%;
	height: 16rem;
	left: 0;
	top: 0;
	padding: 0rem 3rem;
	& > * { height: 100%; line-height: 16rem; float: left;}
	& .nav{
		width: calc(~"100% - 190px - 4rem");
		font-size: 4rem;
	}
}

#header .measurz-logo{
	width: 190px;
	display: inline-block;
	margin-right: 4rem;
	background-image: url(/images/icon-measurz-1.svg);
	background-repeat: no-repeat; 
	background-position: left center;
}


hr{
	border: none;
	clear:both;
	height: 1px;
	width: 100%;
	display: block;
	background-color: @grey;
	margin: 0rem;
	/* hr also clears 'both' */
	.clear;
}

/*
	Lists
	------------------------------
	first level lists don't have a margin by default. To add one simply add .marg-w
*/
ul, ol{margin:0rem;}
li{
	margin-left:0rem;
	list-style:disc;
	list-style-position: inside;
}
li ul li,
li ol li{
	margin-left:3rem;
}

/*
	Panel
	------------------------------
	Panels are the white container elements in Measurz
*/
.panel{
	background: @white;
	border-radius: 1rem;
	overflow-x: visible;
	overflow-y: visible;
	border: 1px solid @grey-3;
	.lift-shadow;
}

/*	
	Horizontal pill box container
	------------------------------
	<div class='row flex pill-box-h'>
		<div class='col-auto'>option 1</div>
		<div class='col-auto'>option 2</div>
		<div class='col-auto'>option 3</div>
		<div class='col-auto'>option 4</div>
	</div>
*/
.pill-box-h{
	border : 1px solid @grey;
	border-radius: 1rem;
	display: flex;
	& > div{
		background: @white-3;
		border-right: 1px solid @grey;
		flex-grow : 1;
		padding: 1.5rem;
		cursor: pointer;
	}
	& > div.active{
		color : @blue;
		background: @white-1;
	}
	& > div:last-child{border : none;}
}



/*
	----------------------------------------------------------------
	BRANDING!
	----------------------------------------------------------------
*/

/*
	Product logos!!
	------------------------------
	I'm using an i element and .icon-{product name} class names because 
	that's how fontello does it. 

	These also scale with font size just like fontello icons!
*/
i.icon-zefr,
i.icon-energizr,
i.icon-solarz,
i.icon-powerz,
i.icon-measurz,
i.icon-gyezr,
i.icon-gridz{
	&:before { content: ' '; }
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.icon-gyezr{
	background-image: url('/images/icon-gyezr.svg');
}
.icon-zefr{
	background-image: url('/images/icon-zefr.svg');
}
.icon-energizr{
	background-image: url('/images/icon-energizr.svg');
}
.icon-solarz{
	background-image: url('/images/icon-solarz.svg');
}
.icon-powerz,
.icon-sgb,
.icon-sgb3p{
	background-image: url('/images/icon-powerz.svg');
}
.icon-gridz{
	background-image: url('/images/icon-gridz.svg');
}
.icon-measurz{
	background-image: url('/images/icon-measurz.svg');
}

/*
	Product Logos!
	These simply the backgorund image. Use it on a div or whateva.
*/
div[class*=logo-]{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	&.left{ /*redundant but it bothers me to not have it here...*/
		background-position: left center;
	}
	&.center{
		background-position: center center;
	}
	&.right{
		background-position: right center;
	}
}
.logo-gyezr{
	background-image: url('/images/icon-gyezr-1.svg');
}
.logo-zefr{
	background-image: url('/images/icon-zefr-1.svg');
}
.logo-energizr{
	background-image: url('/images/icon-energizr-1.svg');
}
.logo-solarz{
	background-image: url('/images/icon-solarz-1.svg');
}
.logo-powerz,
.logo-sgb,
.logo-sgb3p{
	background-image: url('/images/icon-powerz-1.svg');
}
.logo-gridz{
	background-image: url('/images/icon-gridz-1.svg');
}
.logo-measurz{
	background-image: url('/images/icon-measurz-1.svg');
}