.tab-wrap{
	clear: both;
	position: relative;
	height: 100%;
	min-height: 60rem;
	border-right: 3rem solid transparent;
	& :after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	& .tab{
		position: absolute;
		top: 0rem;
		left: calc(~"16rem - 1px");
		padding: 0rem 3rem;
		width: calc(~"100% - 16rem + 1px");
		opacity: 0;
		border-left: none;
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		background: #fafafa;
		display: none;
		overflow-y: auto;
		overflow-x: hidden;
		border-left: 1px solid #ddd;
		z-index: 5;
		height: 100%;
		font-size: 3rem;
	}

	& .tab.active{
		opacity: 1;
		display: block;
		-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.14);
		box-shadow: 0 0 5px 0 rgba(0,0,0,.14);
		border-radius: 0px 4px 4px 4px;
	}
}

.tab-list{
	border-radius: 4px 0px 0px 4px;
	list-style: none;
	float: left;
	width: 16rem;
	margin: 0rem;
	padding: 0rem;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	border-top: 1px solid #ddd;
	-webkit-box-shadow: 0px 0 5px 0 rgba(0,0,0,.18);
	box-shadow: 0px 0 5px 0 rgba(0,0,0,.18);
	& > li{
		font-size: 3rem;
		height: 16rem;
		line-height: 16rem;
		width: 16rem;
		margin: 0rem;
		text-align: right;
		background: white;
		cursor: pointer;
		text-align: center;
		color: rgb(60,60,60);
		border-left: 1px solid #E7E7E7;
		border-top: 1px solid #fafafa;
		border-bottom: 1px solid #E7E7E7;
		border-right: 1px solid #ddd;
		list-style: none;

	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;

	}
	& > li:first-child{
		border-top: 0px solid #fafafa;
	}
	& > li.active{
		background: #fafafa;
		border-left: 1px solid #ddd;
		border-top: 1px solid #fafafa;
		border-right: 1px solid #fafafa;
	}
	& > li:first-child.active{
		border-top: 0px solid #ddd;
	}
	& > li:first-child{border-radius: 4px 0px 0px 0px;}
	& > li:last-child{border-radius: 0px 0px 0px 4px;}
	& > li i{
		display: inline-block;
		width: 100%;
		font-size: 5rem;
		margin-bottom: 1rem;
		margin-top: 3.75rem;
	}
	& > li.active * {color: #63C0FF;}
	& > li > p{
		display: inline-block;
		line-height: 100%;
		margin: 0rem 0rem 0rem 0rem;
		padding: 0rem;
		color: rgba(116, 116, 116, 0.95);
	}
}