@font-face {
    font-family: 'FuturaBoldOblique';
    src: url('fubo____.eot');
    src: url('fubo____.eot') format('embedded-opentype'),
         url('fubo____.woff2') format('woff2'),
         url('fubo____.woff') format('woff'),
         url('fubo____.ttf') format('truetype'),
         url('fubo____.svg#FuturaBoldOblique') format('svg');
}
