@font-face {
    font-family: 'FuturaBook';
    src: url('fuw_____.eot');
    src: url('fuw_____.eot') format('embedded-opentype'),
         url('fuw_____.woff2') format('woff2'),
         url('fuw_____.woff') format('woff'),
         url('fuw_____.ttf') format('truetype'),
         url('fuw_____.svg#FuturaBook') format('svg');
}
