doctype html
html
	head
		title= title

		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800")
		// ^ need to grab local copies

		// 'global' styles
		link(rel="stylesheet", href="/stylesheets/reset.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/forms.css')
		link(rel='stylesheet', href='/stylesheets/fontello/css/fontello.css')
		link(rel='stylesheet', href='/stylesheets/fontello/css/animation.css')
		link(rel='stylesheet', href='/stylesheets/fraction-grid.css')

		// styles specific to this layout
	
		// javascript head
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/socketapi/socketapi.js')
		script(src='/javascripts/jQuery/jquery-2.1.0.min.js')
		script(src="/javascripts/jQueryUi/jquery-ui.1.11.2.js")
		script(src="/javascripts/nouislider/nouislider.js")
		script(src="/javascripts/chartjs/chart.js")
		script(src="/javascripts/greensock/greensock.js")
		script(src="/javascripts/est/ele.js")

		// - javascript view dependencies
		block dependencies

	body
		
		include ./../components/header.jade

		block body

		// - view specific javascripts
		block scripts
		
