doctype html
html
	head
		title= title

		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800")
		// ^ need to grab local copies

		// 'global' styles
		link(rel="stylesheet", href="/stylesheets/reset.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/forms.css')
		link(rel='stylesheet', href='/stylesheets/fontello/css/fontello.css')
		link(rel='stylesheet', href='/stylesheets/fontello/css/animation.css')
		link(rel='stylesheet', href='/stylesheets/fraction-grid.css')

		// styles specific to this layout
		link(rel='stylesheet', href='/stylesheets/vertical-tabs.css')
		link(rel='stylesheet', href='/stylesheets/device-layout.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui-custom.css')
		link(rel='stylesheet', href='/stylesheets/jquery.nouislider.css')
	
		// javascript head
		script(src='/javascripts/jQuery/jquery-2.1.0.min.js')
		script(src='/socket.io/socket.io.js')
		script(src="/javascripts/jQueryUi/jquery-ui.1.11.2.js")
		script(src='/javascripts/socketapi/socketapi.js')
		script(src="/javascripts/nouislider/nouislider.js")
		script(src="/javascripts/chartjs/chart.js")
		script(src="/javascripts/greensock/greensock.js")

		// - javascript view dependencies
		block dependencies

	body
		
		include ./../components/header.jade
		
		// - Main data visualization
		#visualization 
			block visualization

		#io.row.flex
			// Control goes here (user input)
			#i.col-4-5.col-5-7-lap.col-1-1-hand.sort-1.sort-2-hand 
				block control
			// Live data / Output goes here
			#o.col-1-5.col-2-7-lap.col-1-1-hand.sort-1.sort-1-hand 
				block output

		// - view specific javascripts
		block scripts
		
		// - layout specific javascripts
		script(src='/javascripts/vertical-tabs/vertical-tabs.js') // - Contains the height of the tabs and the output to be 'above the fold'
