doctype html

html

head
	title!= title
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
	
	// - Style
	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/fraction-grid.css')
	link(rel='stylesheet', href='/stylesheets/jquery-ui-custom.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')
	link(rel='stylesheet', href='/stylesheets/est/est.css')
	link(rel='stylesheet', href='/stylesheets/est/dialogue.css')
	link(rel='stylesheet', href='/stylesheets/datatable.css')
	link(rel='stylesheet', href='/stylesheets/fontello/css/fontello.css')
	link(rel='stylesheet', href='/stylesheets/fontello/css/animation.css')
	link(rel='stylesheet', href='/stylesheets/jquery.nouislider.css')
	
	// - J Queezy
	script(src='/javascripts/jQuery/jquery-2.1.0.min.js')
	script(src='/javascripts/jQueryUi/jquery-ui.1.11.2.js')

	// - ele
	script(src='/javascripts/est/ele.js')

	// - Greensock
	script(src='/javascripts/greensock/greensock.js')
	// - EST
	script(src='/javascripts/est/est.js')
	// - Data table generator
	script(src='/javascripts/est/datatable.js')
	// - Data table generator
	script(src='/javascripts/est/dialogue.js')
	// - Triceraplots
	script(src='/javascripts/triceraplots/triceraplots.js')
	// - Gantron used for tariff inputs
	script(src='/javascripts/gantron/gantron.js')
	// - parallel.js super handy for wiring up quick things
	script(src='/javascripts/parallel/parallel.js')
	// - socket.io
	script(src='/socket.io/socket.io.js')
	// - socket api
	script(src='/javascripts/socketapi/socketapi.js')
	// - nouislider
	script(src="/javascripts/nouislider/nouislider.js")
	

body
	include ./../components/header
		
	block content
	

	block scripts