doctype html
html
	head

		// 'global' styles
		link(rel='stylesheet' href='/stylesheets/reset.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/forms.css')
		link(rel='stylesheet' href='/stylesheets/fontello/css/fontello.css')
		link(rel='stylesheet' href='/stylesheets/fontello/css/animation.css')
		link(rel='stylesheet' href='/stylesheets/fraction-grid.css')
		link(rel='stylesheet' href='/stylesheets/datatable.css')

		// styles specific to this layout
		link(rel='stylesheet' href='/stylesheets/jquery-ui-custom.css')
		link(rel='stylesheet' href='/stylesheets/jquery.nouislider.css')
	
		// javascript head
		script(src='/javascripts/jQuery/jquery-2.1.0.min.js')
		// - socket.io
		script(src='/socket.io/socket.io.js')
		// - socket.io data query layer
		script(src='/javascripts/socketapi/socketapi.js')
		// - nouislider
		script(src="/javascripts/nouislider/nouislider.js")
		// - chartjs
		script(src="/javascripts/chartjs/chart.js")
		// - greenscock
		script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js")
		script(src='/javascripts/est/datatable.js')
		script(src='/javascripts/est/ele.js')
		// - Chosen
		link(rel='stylesheet' href='/stylesheets/chosen/chosen.css')
		script(src='/javascripts/chosen/chosen.jquery.min.js')

		style.
			body{
				overflow-y:scroll; /* I HATE when the scoll bars appear. The entire page jerks to the left and it looks ghetto. This keeps the scroll bars there even without overflow.*/
			}
	body
		include ./../components/header.jade

		.col-3-10.col-1-1-hand
			.marg.panel.pad
				include ./../components/controlUnitTree.jade
		.col-7-10.col-1-1-hand
			block body

		block scripts
