doctype html
html
	head

		// 'global' styles
		link(rel='stylesheet' href='/stylesheets/reset.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/forms.css')
		link(rel='stylesheet' href='/stylesheets/fontello/css/fontello.css')
		link(rel='stylesheet' href='/stylesheets/fontello/css/animation.css')
		link(rel='stylesheet' href='/stylesheets/fraction-grid.css')

		// styles specific to this layout
		link(rel='stylesheet' href='/stylesheets/vertical-tabs.css')
		link(rel='stylesheet' href='/stylesheets/device-layout.css')
		link(rel='stylesheet' href='/stylesheets/jquery-ui-custom.css')
		link(rel='stylesheet' href='/stylesheets/jquery.nouislider.css')
		link(rel='stylesheet' href='/stylesheets/powrz.css')

		script(src='/javascripts/jQuery/jquery-2.1.0.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/socketapi/socketapi.js')
		script(src="/javascripts/nouislider/nouislider.js")
		script(src="/javascripts/chartjs/chart.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js")

	body
			
		block body
		
		div#auth

			img(src='images/jlm.png')

			form(method='post' action='/login')
				
				label Username
				input(type='text' name='username')

				label Password
				input(type='password' name='password')

				input(type='submit' value='Sign In' class='btn')
				
		p(style='text-align: center; margin-top: 20px')
			small Powrz 0.0.0.5