doctype html
html
	head
		title= title

		link(rel="stylesheet", href="/layouts/meep/css/reset.css")

		// 'global' styles
		link(rel='stylesheet', href='/layouts/meep/css/style.css')
		link(rel='stylesheet', href='/layouts/meep/css/forms.css')
		link(rel='stylesheet', href='/layouts/meep/css/fontello/css/fontello.css')
		link(rel='stylesheet', href='/layouts/meep/css/fontello/css/animation.css')
		link(rel='stylesheet', href='/layouts/meep/css/fraction-grid.css')

		// styles specific to this layout
		link(rel='stylesheet', href='/layouts/meep/css/vertical-tabs.css')
		link(rel='stylesheet', href='/layouts/meep/css/device-layout.css')
		link(rel='stylesheet', href='/layouts/meep/css/jquery-ui-custom.css')
		link(rel='stylesheet', href='/layouts/meep/css/jquery.nouislider.css')
	
		// javascript head
		script(src='/layouts/meep/js/jQuery/jquery-2.1.0.min.js')
		// - socket.io
		script(src='/socket.io/socket.io.js')
		// - socket.io data query layer
		script(src='/layouts/meep/js/socketapi/socketapi.js')
		// - nouislider
		script(src="/layouts/meep/js/nouislider/nouislider.js")
		// - chartjs
		script(src="/layouts/meep/js/chartjs/chart.js")
		// - greenscock
		script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js")

	
	body
		
		#header.row.flex
			// - Always here
			.measurz-logo
			// - Nav items go here
			.nav
				block header
	
		block fullspan   
