extends ./layouts/deviceFixedHeight.jade

block dependencies
	meta(name="viewport" content="width=device-width, minimum-scale=1 maximum-scale=1")
	
	link(type="text/css" rel="stylesheet" href="/stylesheets/powrz.css")
	link(type="text/css" rel="stylesheet" href="/stylesheets/est/datatable.css")

	script(type="text/javascript", src="/javascripts/triceraplots/triceraplots.js")
	script(type="text/javascript", src="/javascripts/triceraplots/triceraplots-worker.js")
	script(type="text/javascript", src="/javascripts/sparklines/sparklines.js")
	script(type="text/javascript", src="/javascripts/timepicker/timepicker.js")
	script(type="text/javascript", src="/javascripts/spinner/spinner.js")

	script(type="text/javascript", src="/javascripts/powrz/powrz.js")
	script(type="text/javascript", src="/javascripts/powrz/dates.js")


block header
	.col-1-6

block visualization
	#segment-graph.chart-wrap
		i.icon-database-1.chart-headline No Data!
	div#legend
		.row
			img.logo(src="/images/jlm.png")
		div#legend-labels
			.row
				.col-1-8
					.swatch#blue-swatch
				.col-3-4
					label Power		
			.row
				.col-1-8
					.swatch#grey-swatch
				.col-3-4
					label Demand Shedding

	div#triceraChart.chart(style='height:100%')
	div#triceraChart.chart(style='height:100%')


				


block control
	.tab-wrap
		.tab-list
			li.active(data-tab='tab1')
				p
					i.icon-flash
					span Monitor
			li(data-tab='tab2')
				p
					i.icon-gauge
					span Demand
			li(data-tab='tab3')
				p
					i.icon-chart-bar
					span Reports
			li(data-tab='tab4')
				p
					i.icon-params
					span Settings

		#tab1.tab.row.monitoring-tab.active(style="padding-left: 20px")
			.row.monitor-headline.pad-n
				.col-1-2.pad-s.pad-n.col-1-1-hand
					h3 Real Time Monitoring
				.col-1-2

			
			.section-container.row(style="margin: 0rem -3rem")
				.col-1-3.col-1-2-lap.col-1-1-hand.pad
					.section.indent#power-section
						.col-1-4
							.section-value-box.phase-a
							.section-value-box.phase-b
							.section-value-box.phase-c
							.section-value-box.phase-d

						.col-2-3.pad-w
							.section-graph-area.phase_a.power_graph_a
							.section-graph-area.phase_b.power_graph_b
							.section-graph-area.phase_c.power_graph_c
							.section-graph-area.phase_d.power_graph_d

						.clear

						.section-description

							.col-1-4.phase.phase-d
								a POWER
							.col-1-4.phase.phase-a
								a &empty;A
							.col-1-4.phase.phase-b
								a &empty;B
							.col-1-4.phase.phase-c
								a &empty;C

				.col-1-3.col-1-2-lap.col-1-1-hand.pad
					.section.indent#current-section
						.col-1-4
							.section-value-box.phase-a
							.section-value-box.phase-b
							.section-value-box.phase-c

						.col-2-3.pad-w
							.section-graph-area.phase_a.current_graph_a
							.section-graph-area.phase_b.current_graph_b
							.section-graph-area.phase_c.current_graph_c

						.clear
						.section-description

							.col-1-4
								strong CURRENT
							.col-1-4.phase.phase-a
								a &empty;A
							.col-1-4.phase.phase-b
								a &empty;B
							.col-1-4.phase.phase-c
								a &empty;C
				.col-1-3.col-1-2-lap.col-1-1-hand.pad
					.section(style="padding: 0px")			
						.calendar-container
							div#datepicker1.date(style="padding-right: 5rem")
							div#datepicker2.date

				.col-1-3.col-1-2-lap.col-1-1-hand.pad
					.section.indent#voltage-section
						.col-1-4
							.section-value-box.phase-a
							.section-value-box.phase-b
							.section-value-box.phase-c

						.col-2-3.pad-w
							.section-graph-area.phase_a.voltage_graph_a
							.section-graph-area.phase_b.voltage_graph_b
							.section-graph-area.phase_c.voltage_graph_c

						.clear

						.section-description

							.col-1-4
								strong VOLTAGE
							.col-1-4.phase.phase-a
								a &empty;A
							.col-1-4.phase.phase-b
								a &empty;B
							.col-1-4.phase.phase-c
								a &empty;C
				.col-1-3.col-1-2-lap.col-1-1-hand.pad
					.section.indent#power-factor-section
						.col-1-4
							.section-value-box.phase-a
							.section-value-box.phase-b
							.section-value-box.phase-c

						.col-2-3.pad-w
							.section-graph-area.phase_a.power_factor_graph_a
							.section-graph-area.phase_b.power_factor_graph_b
							.section-graph-area.phase_c.power_factor_graph_c

						.clear
						.section-description

							.col-1-4
								strong POWER FACTOR
							.col-1-4.phase.phase-a
								a &empty;A
							.col-1-4.phase.phase-b
								a &empty;B
							.col-1-4.phase.phase-c
								a &empty;C
				.col-1-3.col-1-2-lap.col-1-1-hand.pad
					.section.indent#wind-section
						.col-1-4
							.section-value-box.phase-a

						.col-2-3.pad-w
							.section-graph-area.phase_a.wind_graph_a
							.section-graph-area.phase_b_wind_graph_a
						.clear
						.section-description

							.col-1-1
								strong WIND SPEED





		#tab2.tab.row.demand-tab(style="padding-left: 20px")
			.row.monitor-headline.pad-s.pad-n
				.col-1-2.pad-s.pad-n.col-1-1-hand
					h3 Demand Response
				.col-1-2

			form(method='post' action='/powrz/save')
				input(type='hidden' name='type' value='demand')
				input(type='hidden' name='device' value='#{device}')

				.row.peak
					.col-1-10
						label System Peak Power

					.col-1-17
						input(name='demand_peak').demand-peak
					.col-1-17
						p kW

				.row
					.col-2-3

						.data-table
							div.table-row(style="display: flex;")
								div(style='width: 5%;') Relay
								div(style='width: 18%;') Load Name
								div(style='width: 40%;') Description
								div(style='width: 9%;') Name Plate Power
								div(style='width: 7%;') Priority
								div(style='width: 10%;') Start / Stop Delay
								div(style='width: 13%;') Enabled
								div(style='width: 5%;') State


							div.table-row(style="display: flex;")
								div(style='width: 5%;').pad-e.pad-w
									label 1
								div(style='width: 18%;').pad-e.pad-w
									input(name="relay_0_name" type="text" placeholder="eg. Room 1" class="demand-0-name")
								div(style='width: 40%;').pad-e.pad-w
									input(name="relay_0_desc" type="text" placeholder="eg. Break room" class="demand-0-desc")
								div(style='width: 9%;').pad-e.pad-w
									input(name="relay_0_power" type="text" placeholder="eg. 10k" class="demand-0-power")
								div(style='width: 7%;').pad-e.pad-w
									select(name="relay_0_priority" class="demand-0-priority")
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
								div(style='width: 10%;').pad-e.pad-w
									input(name="relay_0_delay" type="text" class="demand-0-delay")
								div(style='width: 13%;').pad-e.pad-w
									select(name="relay_0_enabled" class="demand-0-enabled")
										option(value='true') Enabled
										option(value='false') Disabled
								div(style='width: 5%;').pad-e.pad-w.demand-0-state
									p.circle


							div.table-row(style="display: flex;")
								div(style='width: 5%;').pad-e.pad-w
									label 2
								div(style='width: 18%;').pad-e.pad-w
									input(name="relay_1_name" type="text" placeholder="eg. Room 1" class="demand-1-name")
								div(style='width: 40%;').pad-e.pad-w
									input(name="relay_1_desc" type="text" placeholder="eg. Break room" class="demand-1-desc")
								div(style='width: 9%;').pad-e.pad-w
									input(name="relay_1_power" type="text" placeholder="eg. 10k" class="demand-1-power")
								div(style='width: 7%;').pad-e.pad-w
									select(name="relay_1_priority" class="demand-1-priority")
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
								div(style='width: 10%;').pad-e.pad-w
									input(name="relay_1_delay" type="text" class="demand-1-delay")
								div(style='width: 13%;').pad-e.pad-w
									select(name="relay_1_enabled" class="demand-1-enabled")
										option(value='true') Enabled
										option(value='false') Disabled
								div(style='width: 5%;').pad-e.pad-w.demand-1-state
									p.circle


							div.table-row(style="display: flex;")
								div(style='width: 5%;').pad-e.pad-w
									label 3
								div(style='width: 18%;').pad-e.pad-w
									input(name="relay_2_name" type="text" placeholder="eg. Room 1" class="demand-2-name")
								div(style='width: 40%;').pad-e.pad-w
									input(name="relay_2_desc" type="text" placeholder="eg. Break room" class="demand-2-desc")
								div(style='width: 9%;').pad-e.pad-w
									input(name="relay_2_power" type="text" placeholder="eg. 10k" class="demand-2-power")
								div(style='width: 7%;').pad-e.pad-w
									select(name="relay_2_priority" class="demand-2-priority")
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
								div(style='width: 10%;').pad-e.pad-w
									input(name="relay_2_delay" type="text" class="demand-2-delay")
								div(style='width: 13%;').pad-e.pad-w
									select(name="relay_2_enabled" class="demand-2-enabled")
										option(value='true') Enabled
										option(value='false') Disabled
								div(style='width: 5%;').pad-e.pad-w.demand-2-state
									p.circle



							div.table-row(style="display: flex;")
								div(style='width: 5%;').pad-e.pad-w
									label 4
								div(style='width: 18%;').pad-e.pad-w
									input(name="relay_3_name" type="text" placeholder="eg. Room 1" class="demand-3-name")
								div(style='width: 40%;').pad-e.pad-w
									input(name="relay_3_desc" type="text" placeholder="eg. Break room" class="demand-3-desc")
								div(style='width: 9%;').pad-e.pad-w
									input(name="relay_3_power" type="text" placeholder="eg. 10k" class="demand-3-power")
								div(style='width: 7%;').pad-e.pad-w
									select(name="relay_3_priority" class="demand-3-priority")
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
								div(style='width: 10%;').pad-e.pad-w
									input(name="relay_3_delay" type="text" class="demand-3-delay")
								div(style='width: 13%;').pad-e.pad-w
									select(name="relay_3_enabled" class="demand-4-enabled")
										option(value='true') Enabled
										option(value='false') Disabled
								div(style='width: 5%;').pad-e.pad-w.demand-3-state
									p.circle
				.row				
					.col-1-10
						input(type='submit' value='Save Settings' class='btn')
								


		#tab3.tab.row.reports-tab(style="padding-left: 20px")
			.row.monitor-headline.pad-s.pad-n
				.col-1-4.pad-s.pad-n.col-1-1-hand
					h3(style="padding-bottom: 6rem") Generate Reports

					.col-1-2.pad-e
						p From
						input#datepicker3.date(type='text')
					.col-1-2.pad-e
						p To
						input#datepicker4.date(type='text')

					.row
						.col-1-1.pad-n
							.download




				.col-3-4.col-1-1-hand.pad
					h3.pad-s Monthly Reports
					.report-wrapper
						.row.pad.report-chart
							.data-table
								div.table-row(style="display: flex;")
									div(style='width: 80%') Month
									div(style='width: 20%') Download
	
												




		#tab4.tab.row.settings-tab(style="padding-left: 20px")
			.row.monitor-headline.pad-s.pad-n
				.col-1-2.pad-s.pad-n.col-1-1-hand
					h3 Powrz Settings
				.col-1-2
			.row
				.settings-wrapper
					form(name="login", action="/login", method="post")
						input(type='hidden' name='type' value='settings')
						input(type='hidden' name='device' value='#{device}')

						.col-1-4.col-1-2-lap.col-1-1-hand.pad-e

							.data-table

								div.table-row(style="display: flex;")
									div(style='flex: 1 1 0%;')
										label CT1
									div.ct1(style='flex: 1 1 0%;')
										select(name='ct1')
											option(value='CT2500') 2500
											option(value='CT2400') 2400
											option(value='CT1200') 1200
											option(value='CT1000') 1000
											option(value='CT800') 800
											option(value='CT600') 600
											option(value='CT300') 300

								div.table-row(style="display: flex;")
									div(style='flex: 1 1 0%;')
										label CT2
									div.ct2(style='flex: 1 1 0%;')
										select
											option 100

								div.table-row(style="display: flex;")
									div(style='flex: 1 1 0%;')
										label CD1
									div.cd1(style='flex: 1 1 0%;')
										select(name='cd1')
											option(value='CD1+') +
											option(value='CD1-') -

								div.table-row(style="display: flex;")
									div(style='flex: 1 1 0%;')
										label CD2
									div.cd2(style='flex: 1 1 0%;')
										select(name='cd2')
											option(value='CD2+') +
											option(value='CD2-') -

								div.table-row(style="display: flex;")
									div(style='flex: 1 1 0%;')
										label CD3
									div.cd3(style='flex: 1 1 0%;')
										select(name='cd3')
											option(value='CD3+') +
											option(value='CD3-') -






						.col-1-4.col-1-2-lap.col-1-1-hand.pad-e.pad-w

							.data-table

								div.table-row(style="display: flex;")
									div(style='flex: 1 1 0%;')
										label VOLTAGE WIRING
									div.voltage_config(style='flex: 1 1 0%;')
										select(name='voltage_config')
											option(value='3LN') 3LN
											option(value='3LL') 3LL
											option(value='2LL') 2LL
											option(value='1LN') 1LN
											option(value='1LL') 1LL


								div.table-row(style="display: flex;")
									div(style='flex: 1 1 0%;')
										label CURRENT WIRING
									div.current_config(style='flex: 1 1 0%;')
										select(name='current_config')
											option(value='1CT') 1CT
											option(value='2CT') 2CT
											option(value='3CT') 3CT



								div.table-row(style="display: flex;")
									div(style='flex: 1 1 0%;')
										label OPERATION MODE
									div.op1(style='flex: 1 1 0%;')
										input(type='submit' name='op1' value='Set SEC' class='btn' data-call='sec')



								div.table-row(style="display: flex;")

									div(style='width: 25%; margin: 0px 5px 0px 5px;')
										input(type='submit' value='E.C.' class='btn' data-call='ec')
									div(style='width: 25%; margin: 0px 5px 0px 5px;')
										input(type='submit' value='D.C.' class='btn' data-call='dc')
									div(style='width: 25%; margin: 0px 5px 0px 5px;')
										input(type='submit' value='R.C.' class='btn' data-call='rc')
									div(style='width: 25%; margin: 0px 0px 0px 5px;')
										input(type='submit' value='I.C.' class='btn' data-call='ic')




block output
	.col-1-1
		.stats-container
			.row.monitor-headline.pad
				.col-1-1.col-1-1-hand.pad
					h3 Usage Highlights
			.row
				.col-1-1.col-1-1-hand
					p.peak 
						label Peak
						span 0 kW
					p.avg 
						label Avg.
						span 0 kW
					p.low 
						label Low
						span 0 kW




block scripts
	script.
		boardNumber = "#{boardNumber}"
	//script(src="/javascripts/energizr/script.js")
	//script(src="/javascripts/energizr/superinput.js")
	//script(type="text/javascript", src="/javascripts/energizr/report-generator.js")
	//script(type="text/javascript", src="/javascripts/energizr/liveDataHandler.js")
	